- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to "Personal", clients_path} 
  .links.span6
    = link_to 'Ver', @staff, :class => 'show'

%h1 Editar trabajador(a)

= render 'form', :klass => @staff

