- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Personal", clients_path} 
  .links
    = link_to 'Ver', @staff, :class => 'show'

%h1 Editar trabajador(a)

= render 'form', :klass => @staff

