- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Cuentas caja", cashes_path}<span>&gt;</span>

  .links
    = link_to 'Ver', @cash.account, :class => 'show'

%h1 Editar caja

= render 'form'
