%a.btn.btn-danger Hola
%a.btn.btn-success Hola
%a.btn.btn-primary Hola
%a.btn.btn-info Hola
%a.btn.btn-warning Hola
%a.btn.btn-inverse Hola

.alert.alert-success
  %a.close x
  %h4 Success
  %p A message


.alert.alert-error
  %a.close x
  %h4 Success
  %p A message


.alert.alert-warning
  %a.close x
  %h4 Success
  %p A message
