%h4.n.ib.muted.graph
  Gráfica de <span class="text-success">Ingresos</span> vs <span class="text-error">Egresos</span> diarios


.row-fluid
  #report1.span12(style='height: 300px')

:javascript
  $(function() {
    var rep = new App.GraphReport('#report1', #{data.incomes_dayli.to_json}, #{data.expenses_dayli.to_json})
  })
