%ol#tour.joyride-list.hidden(data-joyride)
  %li(data-sel="#help-link-general" data-text="Siguiente" data-tip-location='right')
    %h4
      Comencemos con bonsaiERP
    %p
      Si no sabe que hacer haga click en
      la <strong>ayuda</strong> que le mostrará paso a paso
      cómo realizar una operación


  %li(data-sel="h1.n:first" data-text="Fin")
    %h4
      Aspectos generales
    %p
      Lea con cuidado los aspectos generales estos le ayudaran a
      entender mejor el sistema

%ol#tour-graph.joyride-list.hidden(data-joyride)
  %li(data-sel='#general-aspects-title' data-text='Siguiente' data-tip-location='bottom')
    %h4
      Aspectos generales
    %p
      Lea con cuidado los aspectos generales estos le ayudaran a
      entender mejor el sistema
  %li(data-sel='h4.graph' data-text='Siguiente')
    %h4 Gráfica
    %p
      La gráfica le muestra sus
      %span.text-success ingresos
      y sus
      %span.text-error egresos
      en un periodo de tiempo

  %li(data-sel='#date_start_picker' data-text='Siguiente')
    %h4 Rango de tiempo
    %p
      Puede introducir un rango de fechas para que la gráfica
      se actualize con el rango que haya seleccionado

  %li(data-sel='.incomes-total' data-text='Fin' data-tip-location='bottom')
    %h4 Totales
    %p
      Este es el total de ingresos que existió en su empresa
      durante el rango de tiempo indicado

:javascript
  $(function() {
    function generalTour() {
      $('#general-aspects').show();
      var t = new Plugin.Bride('#tour');
      t.init();
    }

    /*
    if($.cookie('bonsai-new-user-#{current_user.id}') ) {
      var val = $.cookie('bonsai-new-user-#{current_user.id}') * 1;
      if(val < 2) {
        generalTour();
        $.cookie('bonsai-new-user-#{current_user.id}', val + 1);
      }
    }else {
      $.cookie('bonsai-new-user-#{current_user.id}', 0);
    }
    */

    $('#help-link-general').click(function() {
      $('#general-aspects').show();
      var t = new Plugin.Bride('#tour-graph');
      t.init();
    });
  })
