- content_for :links do
  %ul.breadcrumbs.span6
    %li
      %span Resumen

  .span6
    %ul.breadcrumbs.r
      %a#general-aspects-link.dark(href="javascript:;")
        %i.icon-question-sign
          Ayuda

= render file: "dashboard/tour/general"

%h1.title Resumen

= render file: 'dashboard/general_aspects'

%a.btn.btn-danger Hola
%a.btn.btn-success Hola
%a.btn.btn-primary Hola
%a.btn.btn-info Hola
%a.btn.btn-warning Hola
