:css
  #header{ display: none; }
  #menu{ display: none; }
  #cont{
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

.row-fluid
  .lonely.span6.offset3
    .inset.center
      %header
        %h2.c Iniciar sesión
      .pad
        = simple_form_for @session do |f|

          = f.input :email,    label: false, input_html: {:size => 30, :class => 'txt', placeholder: 'Email'}
          = f.input :password, label: false, input_html: {:size => 30, :class => 'txt', placeholder: 'Contraseña'}

          %p.c
            = f.submit "Ingresar", :class => "btn btn-success btn-large"
            %br
            %br
            -#= link_to "¿Olvido su contraseña?", new_reset_password_path
