#dialog
  %h1 Revisa tu correo

  %p
    Se le ha reenviado de nuevo las instrucciones de confirmación  a su correo por favor revise la dirección de correo 
    =@user.email
    incluyendo el folder de 
    %strong spam
