%table#items.table.decorated
  %tr
    %th Item
    %th Unidad
    %th Cantidad
    %th Disponible
    %th Saldo
    %th


  %tr(ng-repeat='detail in details' ng-hide='detail._destroy==1')
    %td.input.autocomp
      %input(type='text' ng-model='detail.item_id' name='#{inventory.details_form_name}[{{$index}}][item_id]' size='2' style='display:none')
      %input.item-name.autocomp(type='text' placeholder='Escriba para buscar el ítem' data-source='#{search_inventory_item_path(store_id)}' ng-model='detail.item' inventory-detail-autocomplete='true')
      %a.btn.add-new-url.add-new-item.ajax(href='/items/new')
        %i.icon-plus-circle

    %td
      {{detail.unit}}
    %td
      %input.r(type='text' size='10' ng-model='detail.quantity' name='#{inventory.details_form_name}[{{$index}}][quantity]')
    %td.r
      {{detail.stock}}
    %td.r
      {{detail.stock * 1 + detail.quantity * 1}}
    %td
      %a.dark(href='javascript:;' ng-click='destroy($index)')
        = icon_delete


  %tr.last
    %td(colspan="3")
      %a.btn(href='javascript:;' ng-click='addDetail()')
        %i.icon-plus-sign
        Nueva línea

