%table#items.table.decorated
  %tr
    %th Item
    %th Unidad
    %th Cantidad
    %th Disponible
    %th


  %tr(ng-repeat='detail in details' ng-hide='detail._destroy==1')
    %td
      %input(type='text' size='70' ng-model='detail.item')
    %td
      {{detail.unit}}
    %td
      %input.r(type='text' size='10' ng-model='detail.quantity')
    %td.r
      {{detail.stock}}
    %td
      %a.dark(href='javascript:;' ng-click='destroy($index)')
        = icon_delete


  %tr.last
    %td(colspan="3")
      %a.btn(href='javascript:;' data-on-click='inventory:addItem')
        %i.icon-plus-sign
        Nueva línea
