- content_for :links do
  %ul.breadcrumbs
    %li
      &nbsp;

%h1 Op. Inventarios

= render 'search', date_range: @date_range

- paginate_html = paginate @inventories

= paginate_html

%ul.listing.unstyled
  = render @inventories


= paginate_html
