*.swp
*.swo
*.log
*.kpf
*.sqlite3
*.sqlite
*.rbc
*~
.rvmrc
nbproject
!pub.txt
.~lock*
ç
*.vim
.sass-cache/
tmp/
log/*.log
.bundle
config/database.yml
public/javascripts/plugins.js
public/javascripts/scripts.js
doc/wireframes/images/*.*
*.pid
rerun.txt
db/test.sqlite3-journal
*.*~
config/initializers/host.rb
.bundle/config
*.swl
*.swm
*.swn
public/javascripts/jquery.js
public/javascripts/app.js
tmp/restart.txt
.rbx
