*.swp
*.swo
*.log
*.kpf
*.sqlite3
*.sqlite
*.rbc
*~
*.js.map
.rvmrc
nbproject
!pub.txt
.~lock*
ç
*.vim
.sass-cache/
tmp/
log/*.log
.bundle
config/database.yml
public/javascripts/plugins.js
public/javascripts/scripts.js
public/system
doc/wireframes/images/*.*
*.pid
rerun.txt
db/test.sqlite3-journal
*.*~
config/initializers/host.rb
.bundle/config
*.swl
*.swm
*.swn
*.map
public/javascripts/jquery.js
public/javascripts/app.js
public/exchange_rates.json
tmp/restart.txt
.rbx
spec/javascripts/generated
tags
public/assets
public/as
.rails_footnotes
rails_best_practices_output.html
public/assets.tar.bz2
assets.tar.bz2
*Thumbs.db
*Thumbs.db:encryptable
config/app_environment_variables.rb
config/secrets.yml
.tags*
.byebug_history
env
token_file
config/puma.rb