*.swp
*.swo
*.log
*.kpf
*.sqlite3
*.sqlite
*.rbc
*~
nbproject
!pub.txt
.~lock*
ç
*.vim
config/database.yml
public/javascripts/plugins.js
public/javascripts/scripts.js
doc/wireframes/images/*.*
*.pid
rerun.txt
db/test.sqlite3-journal
*.*~
config/initializers/host.rb
.bundle/config
