%ol#start-tour.hidden
  %li(data-id="main-menu-first" data-text="Siguiente" data-options="tipLocation:bottom")
    %h4
      Menú
    %p
      El menú se encuentra en la parte de arriba y los items que tengan
      el ícon
      %span.icon-caret-down.icon-large
      son menús desplegables
  %li(data-id="general-aspects-link" data-text="Fin" data-options="tipLocation:left")
    %h4
      Ayuda
    %p
      La ayuda que le mostrara paso a paso
      como realizar una operación

%ol#general-aspects-tour.hidden
  %li(data-id="general-aspects-title" data-text="Fin" data-options="tipLocation:top")
    %h4
      Aspectos generales
    %p
      Lea con cuidado los aspectos generales estos le ayudaran a
      entender mejor el sistema

:javascript
  $(function() {
    $('#start-tour').joyride();

    $('#general-aspects-link').click(function() {
      $('.joyride-tip-guide').remove();
      $('#general-aspects-tour').joyride();
    });
  })
