- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to 'Grupos de etiquetas', tag_groups_path


%div(ng-controller='TagGroupsController')
  .row-fluid
    .span8
      %h1 {{ title }}
    .span4.r
      %tags(tag-ids='false' hide-filter='true' hide-apply='true' model='')

  = render 'tag_groups/form'

:javascript
  window.tag_group = #{@tag_group.to_json}
