- content_for :links do
  .links
    = link_to "Nuevo <%= singular_name %>", new_<%= singular_name %>_path, :class => 'new'

%h1 <%= plural_table_name %>

%table.decorated.nwl 
  %thead
    %tr
<% for attribute in attributes -%>
      %th <%= attribute.name %>
<% end -%>
      %th
  
  %tbody
    - @<%= plural_name %>.each do |<%= singular_name %>|
      %tr{ :class => cycle(:odd, :even) }
<% for attribute in attributes -%>
        %td= <%= singular_name %>.<%= attribute.name %>
<% end -%>
        %td.actions= bonsai_links(<%= singular_name %>)
