%h1 <%= singular_name %>
%p.links
  = link_to 'Editar', edit_<%= singular_name %>_path(@<%= singular_name %>), :class => 'edit'
  = link_to 'Lista', <%= plural_name %>_path, :class => 'list'

<% for attribute in attributes -%>
.input
  %label <%= attribute.humanize %>
  %span= @<%= singular_name %>.<%= attribute.name %>
<% end -%>
