.input-append
  = form_tag store_path(store.id, anchor: 'items-tab'), method: 'get', class: 'form-inline' do
    = text_field_tag :search_items, params[:search_items], size: 45, placeholder: 'nombre del ítem o código'
    = submit_tag 'Buscar ítems', class: 'btn', name: 'items_commit'
