%table.table.table-striped
  %tr
    %th Referencia
    %th Fecha
    %th Operación
    %th Realizado por

  - store.operations.page(page).each do |op|
    %tr
      %td= link_to op.ref_number, op, class: 'b'
      %td= lo op.created_at
      %td= op.operation == 'in' ? 'Ingreso' : 'Egreso'
      %td= op.creator

