= simple_form_for(current_organisation) do |f|
  = bonsai_form_error(f)

  .row-fluid
    .span6=f.input :name, label: 'Nombre de su empresa', input_html: { size: INPUT_SIZE }
    .span6
      =f.input :currency, label: 'Moneda base', collection: currency_options,
        hint: '<i class="icon-warning"></i> No se puede cambiar en un futuro.'.html_safe
  .row-fluid
    .span6=f.input :country_code, label: 'País', collection: Country.options
    .span6=f.input :time_zone, as: :time_zone, label: 'Zona horaria'

  .row-fluid
    .span6=f.input :phone, label: 'Teléfono', input_html: { size: 15 }
    .span6=f.input :mobile, label: 'Móvil', input_html: { size: 15 }

  .row-fluid
    .span6=f.input :email, input_html: { size: INPUT_SIZE }
    .span6=f.input :address, label: 'Dirección', as: :text, input_html: {rows: 5,  cols: INPUT_SIZE}

  .clear.form_actions
    = f.submit "Crear empresa", class: 'btn btn-success b btn-large'

:javascript
  $(function() {
    function showHideOpenPrices() {
      if($('#organisation_preferences_open_prices').attr('checked') ) {
        $('.open_prices').show(300);
      }else{
        $('.open_prices').hide(300);
      }
    }

    function testDecimal(val) {
      return /^\d{1,3}(\.\d+)?$/.test(val);
    }
    /*
    $('#organisation_preferences_open_prices').live('click', function() { showHideOpenPrices() });

    $('#organisation_preferences_item_discount').live('focusout', function() {
      if (testDecimal( $(this).val() ) ) {
        console.log($(this).val());
        $('#item_discount').html(_b.ntc( $(this).val() ) );
      }else{
        $('#item_discount').html(_b.ntc(0));
      }
    });

    $('#organisation_preferences_item_discount, #organisation_preferences_general_discount').live('focusout', function() {
      if( ! testDecimal($(this).val()) ) {
        $(this).val(0);
      }
    });
    */

  })
