<h1>organisations</h1>

    <%= link_to 'New organisation', new_organisation_path, :class => :new %>
  <ul>
  <% @organisations.each do |organisation| %>
    <li>
      <h2><%= link_to organisation.name, select_organisation_path(organisation) %></h2>
      <%=  raw bonsai_links(organisation) %>
     </li>
  <% end %>
  </ul>


