- f.simple_fields_for :inventory_operation_details do |fd|
  - if fd.object.quantity > 0
    %tr.item
      %td
        = fd.input :item_id, :as => :hidden
        = fd.object.item
      %td= fd.input :quantity, :label => false, :input_html => { :size => 8, :class => 'quantity', :type => 'decimal' }
      %td.cur.inventory= ntc(stocks[fd.object.item_id] ? stocks[fd.object.item_id][:quantity] : 0)
      %td

