%h1 Cambiar contraseña

= simple_form_for @user_password do |f|
  .row-fluid
    .span6
      =f.input :old_password, label: 'Antigua contraseña', input_html: { class: 'span8' }

  .row-fluid
    .span6
      .input-append
        =f.input :password, label: 'Nueva contraseña' do
          = f.password_field :password, size: 35
          %span.add-on.append
            %label
              %input(type="checkbox" id="show-password")
              Ver contraseña
  .form-actions
    =f.submit 'Cambiar contraseña', class: 'btn btn-success'

:javascript
  $(function () {
    $('#show-password').on('click', function() {
      if($(this).prop('checked')) {
        $('#user_password_password').attr('type', 'text');
      } else {
        $('#user_password_password').attr('type', 'password');
      }
    });
  });
