= link_to 'Verificar transacci贸n', conciliate_account_ledger_path(ledger.id), method: :patch, id: 'conciliate-button', class: 'btn btn-success b'
= link_to 'Anular transacci贸n', null_account_ledger_path(ledger.id), method: :patch, id: 'null-button', class: 'btn btn-danger b'

:javascript
  $(function() {
    to_name = $('.account_to_name').text()
    $('#conciliate-button').popover({
      trigger: 'hover',
      title: 'Verificaci贸n',
      html: true,
      placement: 'bottom',
      content: 'Actualiza el balance de la cuenta asociada <br/><strong>' + _.escape(to_name) + '</strong>'
    });

    $('#null-button, #conciliate-button').click(function(event) {
      var txt = this.id == 'null-button' ? 'anular' : 'verificar';
      if(confirm('Esta seguro@ de ' + txt + ' la transacci贸n')) {
        return true;
      } else {
        event.preventDefault();
        return false;
      }
    })

  })
