= form_for ledger, url: conciliate_account_ledger_path(ledger), html: {id: 'conciliate-null-form'} do |f|
  = f.submit 'Verificar transacci贸n', id: 'conciliate-button', name: 'conciliate_commit', class: 'btn btn-success b'
  = f.submit 'Anular transacci贸n', id: 'null-button', name: 'null_commit', class: 'btn btn-danger b'

:javascript
  $(function() {
    to_name = $('.account_to_name').text()
    $('#conciliate-button').popover({
      trigger: 'hover',
      title: 'Verificaci贸n',
      html: true,
      content: 'Actualiza el balance de la cuenta asociada <br/><strong>' + _.escape(to_name) + '</strong>'
    });

    $('#conciliate-null-form').submit( function(event) {
      if(confirm('Esta segur@ de realizar la operaci贸n?') ) {
        return true;
      }else {
        return false;
      }
    });
  })
