%table.decorated
  %tr
    %th Fecha
    %th Cantidad
    %th Contacto
    %th Pago
  - account_ledgers.includes(:payment, :contact).each do |al|
    %tr
      %td= lo al.date
      %td.r= ntc al.amount
      %td= link_to al.contact, al.contact if al.contact_id
      %td= with_payment(al)


