-content_for :links do
  %ul.breadcrumps
    %li #{link_account @account_ledger}<span>&gt;</span>
    %li #{link_to @account_ledger.account, @account_ledger.account}<span>&gt;</span>

%h1 Nuevo #{account_ledger_title @account_ledger}

= render "form"
