/-content_for :links do
/  %ul.breadcrumps
/    %li #{link_parent @account}<span>&gt;</span>
/    %li #{link_to @account.accountable}<span>&gt;</span>
/
%h1 Nuevo #{account_ledger_title @account_ledger}

= render "form"
