- content_for :links do
  %ul.breadcrumbs.span6
    %li #{link_to 'Cuentas bancarias', banks_path}
    %li
      %i.icon-caret-right
    %li #{link_to @bank, @bank} 
    %li
      %i.icon-caret-right
    %li
      Editar

.row-fluid
  .span6
    %h1 Editar cuenta bancaria
  .span6.r
    = link_to icon_show_text, @bank, class: 'btn'

= render 'banks/form', bank: @bank
