- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to @inv.store, @inv.store
    %li
      %i.icon-caret-right
    %li
      Entrega de items

.row-fluid
  .span12
    %h1
      = @inv.inventory.ref_number
      %small.text-success
        Entrega de mercadería ingreso
        = link_to @inv.income, @inv.income

= render 'form', inv: @inv
