body {
  font-size: 11.5px;
  font-family: Tahoma, sans-serif;
  background-color: #f0f0f1;
  margin: 0px;
  padding: 0px;
  background: #f0f0f1 url(images/background_header.png) repeat-x;
}
a {
  color: #6793ce;
  text-decoration: underline;
}
a:hover { text-decoration: none; }
ul.show li { margin: 3px 0px; }
ul.show li label {
  display: table;
  font-weight: bold;
  margin-right: 5px;
}
label {
  font-weight: bold;
  vertical-align: top;
  display: block;
  color: #30383e;
}
input, select, textarea {
  font-size: 11.5px;
  padding: 1px 2px;
}
.inline label { display: inline; }
.optional label.collection_radio { display: inline-table; }
option.new {
  color: #30383e;
  font-weight: bold;
}
form div { margin-top: 4px; }
form .input {
  width: 49%;
  float: left;
  margin: 8px 0px;
}
.ui-state-default {
  border: 1px solid #c5dbec;
  background: #dfeffc url(images/ui-bg_flat_85_dfeffc_40x100.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #2e6e9e;
}
table.decorated {
  border-collapse: collapse;
  width: 100%;
}
table.decorated th {
  padding: 4px 8px;
  text-align: left;
  color: #30383e;
  background: transparent url(images/th.png) repeat-x 0% 50%;
  height: 32px;
}
table.decorated tr { border-bottom: 1px solid #c6c6c6; }
table.decorated td { padding: 4px 8px; }
table.nwl td:last-child { white-space: nowrap; }
table.nwf td:first-child { white-space: nowrap; }
#wrapper {
  margin: auto;
  width: 968px;
  background: transparent url(images/background.png) repeat-y;
}
#wrap_in { background: transparent url(images/menu.png) no-repeat; }
#cont {
  background-color: #ffffff;
  width: 950px;
  margin: auto;
}
#cont-in { padding: 10px 15px 90px; }
#header { height: 59px; }
#header h1 {
  width: 50%;
  float: left;
  color: #ffffff;
  margin: 3px 15px;
  vertical-align: top;
}
#header ul {
  float: right;
  margin: 10px 15px;
  padding: 0px;
  height: 29px;
  background: transparent url(images/set_background.png) repeat-x;
}
#header ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: left;
}
#header ul li a {
  vertical-align: middle;
  display: block;
  padding: 7px 10px 7px 20px;
  color: #ffe374;
  text-decoration: none;
}
#header ul li a:hover { text-decoration: underline; }
#header ul li.left {
  background: url(images/set_left.png);
  width: 7px;
  height: 29px;
}
#header ul li.right {
  background: url(images/set_right.png);
  width: 7px;
  height: 29px;
}
#foot {
  background: transparent url(images/foot.png) no-repeat;
  height: 32px;
}
.a_menu {
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 5px 15px;
  border-right: 1px solid #30383e;
  border-left: 1px solid #616161;
}
ul#main_menu {
  height: 31px;
  margin: 10px;
  padding: 0px;
  position: relative;
}
ul#main_menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline;
  float: left;
}
ul#main_menu li a {
  font-weight: bold;
  display: block;
  color: #fecd0a;
  text-decoration: none;
  padding: 5px 15px;
}
ul#main_menu li a span {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
  background: transparent url(images/sub_menu.png) no-repeat 0px -16px;
}
ul#main_menu li a:hover span { background-position: 0px 0px !important; }
ul#main_menu li ul {
  display: none;
  padding: 0px;
  margin: 0px;
  padding-t: op: 4px;
  z-index: 100;
  background-color: #6793ce;
}
ul#main_menu li ul li {
  float: none;
  margin: 0px;
  padding: 0px;
  display: block;
}
ul#main_menu li ul a {
  float: none;
  padding: 4px 20px;
  font-weight: normal;
  display: inline-block;
}
ul#main_menu li ul a.add {
  text-indent: -1000em;
  width: 18px;
  padding: 0px;
  margin: 0px 0px 0px 20px;
}
ul#main_menu li ul a.add_left { padding-left: 0px; }
ul#main_menu li ul a:hover { text-decoration: underline; }
ul#main_menu li:hover ul {
  display: block;
  position: absolute;
}
#cont-in h1 { margin: 4px 0px 20px; }
.error { color: #ff0000; }
.link {
  font-weight: bold;
  padding-left: 20px;
  text-decoration: none;
  margin: 10px 5px;
  color: #538447;
  font-size: 110%;
}
a.new {
  font-weight: bold;
  padding-left: 20px;
  text-decoration: none;
  margin: 10px 5px;
  color: #538447;
  font-size: 110%;
  display: table;
  background: url(images/add.png) no-repeat scroll 4px 50%;
  border: 1px solid #f0f0f1;
  padding: 5px 8px 5px 26px;
}
a.new:hover { text-decoration: underline; }
a.add {
  font-weight: bold;
  padding-left: 20px;
  text-decoration: none;
  margin: 10px 5px;
  color: #538447;
  font-size: 110%;
  background: url(images/add.png) no-repeat 0px 50%;
}
a.edit {
  font-weight: bold;
  padding-left: 20px;
  text-decoration: none;
  margin: 10px 5px;
  color: #538447;
  font-size: 110%;
  background: url(images/pencil.png) no-repeat 0px 50%;
}
a.destroy, a.delete {
  font-weight: bold;
  padding-left: 20px;
  text-decoration: none;
  margin: 10px 5px;
  color: #538447;
  font-size: 110%;
  background: url(images/delete.png) no-repeat 0px 50%;
}
a.list {
  font-weight: bold;
  padding-left: 20px;
  text-decoration: none;
  margin: 10px 5px;
  color: #538447;
  font-size: 110%;
  background: url(images/table.png) no-repeat 0px 50%;
}
a.show {
  font-weight: bold;
  padding-left: 20px;
  text-decoration: none;
  margin: 10px 5px;
  color: #538447;
  font-size: 110%;
  background: url(images/zoom.png) no-repeat;
}
a.show:hover { text-decoration: underline; }
a.edit:hover { text-decoration: underline; }
a.destroy:hover { text-decoration: underline; }
a.list:hover { text-decoration: underline; }
a.cog {
  background: transparent url(images/cog.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.user {
  background: transparent url(images/user.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.logout {
  background: transparent url(images/logout.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -1000em;
}
.show_icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -1000em;
  background: url(images/zoom.png) no-repeat;
}
.edit_icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -1000em;
  background: url(images/pencil.png) no-repeat;
}
.destroy_icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -1000em;
  background: url(images/delete.png) no-repeat;
}
.boolean { vertical-align: middle; }
.boolean label { display: inline-block; }
.boolean input:checkbox { float: left; }
.numeric input { text-align: right; }
form abbr { display: none; }
form.required abbr {
  display: inline;
  color: green;
}
.hint {
  display: block;
  color: #616161;
  font-style: italic;
}
.inputs > div { margin-top: 10px; }
input[type=submit] {
  background-color: #6793ce;
  color: #ffffff;
  border: 0px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 6px;
  font-weight: bold;
  cursor: pointer;
}
.errorExplanation {
  color: #ff0000;
  background-color: #fef1ec;
  border: 2px solid #ff0000;
  padding: 5px 15px;
}
.errorExplanation ul { list-style: none; }
.errorExplanation h2 { font-weight: normal; }
span.error { display: block; }
.flash {
  padding: 10px;
  border-width: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 120%;
}
#flashNotice {
  padding: 10px;
  border-width: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 120%;
  border-color: #538447;
  color: #538447;
}
#flashError {
  padding: 10px;
  border-width: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 120%;
  border-color: #ff0000;
  color: #ff0000;
}
.cb { clear: both; }
._120 { font-size: 120%; }
._120 input { font-size: 120%; }
._120 select { font-size: 120%; }
._120 textarea { font-size: 120%; }
ul.menu {
  position: relative;
  padding: 0px;
  margin: 0px;
}
ul.menu a {
  margin: 0px;
  text-decoration: none;
}
ul.menu a:hover { color: #5bbf3b; }
ul.menu li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: left;
}
ul.menu li ul {
  display: none;
  margin: 0px;
  border: 1px solid #f0f0f1;
  background-color: #ffffff;
  padding: 0px;
  margin-top: -1px;
  font-weight: normal;
}
ul.menu li ul li { float: none !important; }
ul.menu li ul li a {
  padding: 6px 20px;
  display: block;
  font-size: 110%;
}
ul.menu li:hover ul {
  display: block;
  position: absolute;
}
.more {
  background: url(images/bullet_arrow_down.png) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.search {
  background-color: #f0f0f1;
  padding: 6px 12px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.half {
  width: 47%;
  margin: 1.2%;
}
.fl { float: left; }
.clear { clear: both; }
.true { background: transparent url(images/tick.png) no-repeat center 50%; }
.false { background: transparent url(images/cross.png) no-repeat center 50%; }
.hide { display: none; }
.dark { color: #30383e; }
._30, .w30 { width: 30%; }
._33, .w33 { width: 33%; }
.w50 { width: 49%; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mb10, .mb20 { margin-bottom: 20px; }
