.red { color: #ff0000 !important; }
.bg_red { background-color: #ff0000; }
.grey { color: #c6c6c6; }
.dark_grey { color: #717171; }
.green { color: #5bbf3b; }
.dark_green { color: #538447; }
.bg_red { background-color: #ff0000 !important; }
.bg_green { background-color: #5bbf3b !important; }
.bg_light_grey { background-color: #f0f0f1; }
.bg_white_tan { background-color: #f7f7f7; }
body {
  font-size: 11.5px;
  font-family: Tahoma, sans-serif;
  background-color: #f3f3f3;
  margin: 0px;
  padding: 0px;
}
a {
  color: #095495;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
hr {
  border: 0px;
  background-color: #c6c6c6;
  color: #c6c6c6;
  height: 1px;
}
ul.show li { margin: 3px 0px; }
ul.show li label {
  display: table;
  font-weight: bold;
  margin-right: 5px;
}
form div { margin-top: 4px; }
.input {
  width: 49%;
  float: left;
  margin: 8px 0px;
}
label {
  font-weight: bold;
  vertical-align: top;
  display: block;
  color: #717171;
}
label.collection_radio, label.collection_check_boxes { font-weight: normal; }
.show label { margin-bottom: 5px; }
input, select, textarea {
  font-size: 11.5px;
  padding: 1px 2px;
}
.inline label { display: inline; }
.optional label.collection_radio { display: inline-table; }
option.new {
  color: #484a4c;
  font-weight: bold;
}
.ui-state-default {
  border: 1px solid #c5dbec;
  background: #dfeffc url(images/ui-bg_flat_85_dfeffc_40x100.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #2e6e9e;
}
table.decorated {
  border-collapse: collapse;
  width: 100%;
}
table.decorated th {
  padding: 4px 8px;
  text-align: left;
  color: #484a4c;
  background: transparent url(images/th.png) repeat-x 0% 50%;
  height: 32px;
  border-right: 1px solid #efcfcf;
}
table.decorated tr { border-bottom: 1px solid #c6c6c6; }
table.decorated td { padding: 4px 8px; }
table.decorated td a.edit {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  text-indent: -1000em;
  overflow: hidden;
  font-size: 0px;
  margin: 0px;
  padding: 0px 2px;
}
table.decorated td a.delete {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  text-indent: -1000em;
  overflow: hidden;
  font-size: 0px;
  margin: 0px;
  padding: 0px 2px;
}
table.decorated td a.destroy {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  text-indent: -1000em;
  overflow: hidden;
  font-size: 0px;
  margin: 0px;
  padding: 0px 2px;
}
table.decorated td.line { border-bottom: 1px solid #c6c6c6; }
table.decorated tr.extra { border-bottom: none !important; }
table.decorated tr.extra h3 { margin: 1px 0px; }
table.decorated tr.extra td { padding: 6px; }
table.decorated tr.pad_top td { padding-top: 15px; }
table.decorated tr.false { color: #717171; }
table.decorated td.cur {
  text-align: right;
  white-space: nowrap;
}
table.nwl td:last-child { white-space: nowrap; }
table.nwf td:first-child { white-space: nowrap; }
#main_wrap {
  width: 100%;
  background: transparent url(images/back_combined.png) repeat-x 0px -101px;
  min-height: 500px;
}
#wrapper {
  margin: auto;
  width: 968px;
}
#wrap_in { position: relative; }
#logo {
  position: absolute;
  height: 90px;
  width: 80px;
  background: url("images/back_combined.png") no-repeat scroll left top transparent;
  z-index: 1000;
  right: 10px;
}
#cont {
  background: #ffffff;
  width: 950px;
  margin: auto;
  padding-bottom: 50px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}
#links {
  background: #f7f7f7;
  padding: 10px 15px;
  overflow: hidden;
}
#cont-in { padding: 10px 15px 90px; }
#header {
  height: 59px;
  position: relative;
}
#header h1 {
  width: 50%;
  float: left;
  color: #ffffff;
  margin: 15px;
  vertical-align: top;
}
#header ul {
  position: absolute;
  top: 4px;
  right: 90px;
  padding: 0px 5px;
  height: 29px;
  background-color: #494949;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#header ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: left;
}
#header ul li a {
  vertical-align: middle;
  display: block;
  padding: 7px 10px 7px 20px;
  color: #ffe374;
  text-decoration: none;
}
#header ul li a:hover { text-decoration: underline; }
#header ul li.left {
  background: url(images/set_left.png);
  width: 7px;
  height: 29px;
}
#header ul li.right {
  background: url(images/set_right.png);
  width: 7px;
  height: 29px;
}
#menu { height: 42px; }
#foot { height: 32px; }
.a_menu {
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 5px 15px;
  border-right: 1px solid #484a4c;
  border-left: 1px solid #717171;
}
ul#main_menu {
  height: 31px;
  margin: 0px;
  padding: 10px 10px 0px;
  position: relative;
  font-size: 110%;
}
ul#main_menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline;
  float: left;
}
ul#main_menu li a {
  font-weight: bold;
  display: block;
  color: #f7eaa3;
  text-decoration: none;
  padding: 3px 15px;
}
ul#main_menu li a.more { background: url("images/up_down.png") no-repeat scroll right -12px transparent !important; }
ul#main_menu li ul {
  display: none;
  padding: 0px;
  margin: 0px;
  padding-t: op: 4px;
  z-index: 100;
  background-color: #7fbd42;
}
ul#main_menu li ul li {
  float: none;
  margin: 0px;
  padding: 0px;
  display: block;
}
ul#main_menu li ul a {
  float: none;
  color: #ffffff;
  padding: 7px 30px 7px 20px;
  font-weight: normal;
  display: block;
}
ul#main_menu li ul a.add {
  text-indent: -1000em;
  width: 18px;
  padding: 0px;
  margin: 0px 0px 0px 20px;
}
ul#main_menu li ul a.add_left { padding-left: 0px; }
ul#main_menu li ul a:hover { background-color: #4e8f19; }
ul#main_menu li:hover ul {
  display: block;
  position: absolute;
}
#cont-in h1 {
  margin: 4px 0px 20px;
  color: #484a4c;
}
h1 {
  font-size: 2.2em;
  color: #484a4c;
}
h2 {
  font-size: 1.7em;
  color: #484a4c;
}
h3 {
  font-size: 1.3em;
  color: #484a4c;
}
.error { color: #ff0000; }
.link {
  font-weight: bold;
  padding-left: 20px;
  margin: 10px 5px;
  color: #538447;
  font-size: 110%;
}
.links {
  font-weight: bold;
  padding-left: 20px;
  color: #538447;
  width: 40%;
  float: right;
  text-align: right;
}
.links a:hover {
  text-decoration: none;
  color: #5bbf3b;
}
a.new {
  font-weight: bold;
  padding-left: 22px;
  color: #538447;
  display: inline-block;
  background: transparent url(images/add.png) no-repeat scroll 4px 50%;
  font-size: 120%;
}
a.button {
  border: 1px solid #c6c6c6;
  padding: 5px 8px 5px 26px;
  margin: 5px;
  background-color: #f0f0f1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
a.new:hover {
  color: #5bbf3b;
  text-decoration: none;
}
a.button:hover {
  background-color: #ffffff;
  text-decoration: none !important;
}
a.add {
  font-weight: bold;
  padding-left: 20px;
  margin: 10px 5px;
  color: #538447;
  font-size: 110%;
  background: url(images/add.png) no-repeat 0px 50%;
}
a.edit {
  font-weight: bold;
  padding-left: 20px;
  margin: 10px 5px;
  color: #538447;
  font-size: 110%;
  background: url(images/pencil.png) no-repeat 0px 50%;
}
a.destroy, a.delete {
  font-weight: bold;
  padding-left: 20px;
  margin: 10px 5px;
  color: #538447;
  font-size: 110%;
  background: url(images/trash.png) no-repeat 0px 50%;
}
a.list {
  font-weight: bold;
  padding-left: 20px;
  margin: 10px 5px;
  color: #538447;
  font-size: 110%;
  background: url(images/table.png) no-repeat 0px 50%;
}
a.show {
  font-weight: bold;
  padding-left: 20px;
  margin: 10px 5px;
  color: #538447;
  font-size: 110%;
  background: url(images/zoom.png) no-repeat;
}
a.cog {
  background: transparent url(images/cog.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.user {
  background: transparent url(images/user.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.logout {
  background: transparent url(images/logout.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.email {
  background: transparent url(images/email.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.print {
  background: transparent url(images/printer.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.money {
  background: transparent url(images/money.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.calendar {
  background: transparent url(images/calendar.gif) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.trash {
  background: transparent url(images/trash.png) no-repeat 0 50%;
  padding-left: 20px !important;
  min-height: 20px;
}
.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -1000em;
}
.show_icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -1000em;
  background: url(images/zoom.png) no-repeat;
}
.edit_icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -1000em;
  background: url(images/pencil.png) no-repeat;
}
.destroy_icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -1000em;
  background: url(images/delete.png) no-repeat;
}
.boolean { vertical-align: middle; }
.boolean label { display: inline-block; }
.boolean input:checkbox { float: left; }
.numeric input { text-align: right; }
.hint {
  display: block;
  color: #717171;
  font-style: italic;
}
.inputs > div { margin-top: 10px; }
input[type=submit] {
  padding: 4px 16px;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}
.errorExplanation {
  color: #ff0000;
  background-color: #fef1ec;
  border: 2px solid #ff0000;
  padding: 5px 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.errorExplanation ul {
  list-style: none;
  padding: 0px 10px;
}
.errorExplanation h2 {
  font-weight: normal;
  font-size: 1.2em;
  margin: 4px 0px;
}
span.error { display: block; }
.flash {
  padding: 10px;
  border-width: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 120%;
}
#flashNotice {
  padding: 10px;
  border-width: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 120%;
  border-color: #538447;
  color: #538447;
}
#flashError {
  padding: 10px;
  border-width: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 120%;
  border-color: #ff0000;
  color: #ff0000;
}
#flashWarning {
  padding: 10px;
  border-width: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 120%;
  color: #484a4c;
  border-color: #ffff00;
  background-color: #ffffc5;
}
.cb { clear: both; }
ul.menu {
  position: relative;
  padding: 0px;
  margin: 0px;
}
ul.menu a {
  margin: 0px;
  text-decoration: none;
}
ul.menu a:hover { color: #5bbf3b; }
ul.menu li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: left;
}
ul.menu li ul {
  display: none;
  margin: 0px;
  border: 1px solid #f0f0f1;
  background-color: #ffffff;
  padding: 0px;
  margin-top: -1px;
  font-weight: normal;
}
ul.menu li ul li { float: none !important; }
ul.menu li ul li a {
  padding: 6px 20px;
  display: block;
  font-size: 110%;
}
ul.menu li:hover ul {
  display: block;
  position: absolute;
}
a.more { background: transparent url(images/bullet_arrow_down.png) no-repeat 0 right; }
.search {
  background-color: #f0f0f1;
  padding: 6px 12px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.half {
  width: 47%;
  margin: 1.2%;
}
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.true { background: transparent url(images/tick.png) no-repeat center 50%; }
.false { background: transparent url(images/cross.png) no-repeat center 50%; }
tr.true, tr.false { background: transparent; }
span.true, span.false {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.hide { display: none; }
.b { font-weight: bold; }
.n { font-weight: normal; }
.i { font-style: italic; }
.l { text-align: left; }
.c { text-align: center; }
.r { text-align: right; }
.nw { white-space: nowrap; }
.fs11 { font-size: 110%; }
.fs12 { font-size: 120%; }
.fs13 { font-size: 130%; }
.fs14 { font-size: 140%; }
.fs15 { font-size: 150%; }
._120 { font-size: 120%; }
._120 input { font-size: 120%; }
._120 select { font-size: 120%; }
._120 textarea { font-size: 120%; }
.dark { color: #484a4c; }
.main {
  margin: 5px -5px;
  padding: 5px;
}
.ajax-modal { background-color: #ffffff !important; }
.ajax-modal .links { display: none; }
.ajax-modal a {
  color: #095495 !important;
  text-decoration: none;
}
.ajax-modal a:hover { text-decoration: underline; }
.marked { background-color: #d0def1 !important; }
._10, .w10 { width: 9% !important; }
._15, .w15 { width: 14% !important; }
._20, .w20 { width: 19% !important; }
._25, .w25 { width: 24% !important; }
._30, .w30 { width: 29% !important; }
._33, .w33 { width: 33% !important; }
._40, .w33 { width: 39% !important; }
._50, .w33 { width: 49% !important; }
._60, .w33 { width: 59% !important; }
._70, .w33 { width: 69% !important; }
._100 { width: 100%; }
.w50 { width: 49%; }
.p100 { width: 100px; }
.p200 { width: 200px; }
.p300 { width: 300px; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.dashlet {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 3px;
  color: #ffffff;
}
.paid {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 3px;
  color: #ffffff;
  background-color: #5bbf3b;
}
.draft {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 3px;
  color: #ffffff;
  background-color: #c6c6c6;
}
.aproved {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 3px;
  color: #ffffff;
  background-color: #484a4c;
}
.due {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 3px;
  color: #ffffff;
  background-color: #ff0000;
}
ul.tabs {
  list-style: none;
  background-color: #f0f0f1;
  height: 35px;
  padding: 0px 15px;
  margin: 0px 0px 20px;
  border-bottom: 1px solid #c6c6c6;
}
ul.tabs li { display: inline; }
ul.tabs li a {
  display: block;
  float: left;
  padding: 12px;
}
ul.tabs li a.active {
  font-weight: bold;
  color: #484a4c;
}
.message {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #5bbf3b;
  color: #484a4c;
  margin: 4px 0;
  padding: 10px;
  width: 50%;
  position: relative;
}
.message span.close {
  background-position: -96px -128px;
  background-image: url("images/ui-icons_469bdd_256x240.png");
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}
ul.breadcrumps {
  list-style: none;
  padding: 0px;
  margin: 0px;
  float: left;
  width: 50%;
}
ul.breadcrumps li { display: inline; }
ul.breadcrumps li span {
  font-size: 70%;
  position: relative;
  top: -1px;
  padding: 0px 5px;
}
.pagination {
  font-weight: bold;
  float: left;
  margin: 10px;
}
.prev, .page, .next {
  font-weight: bold;
  display: inline-block;
  margin: 0px 3px;
}
a.search {
  font-weight: bold;
  float: left;
  margin: 10px !important;
  padding: 0px 0px 0px 20px;
  background: transparent url(images/zoom.png) no-repeat;
}
.moneybox {
  background-color: #f0f0f1;
  padding: 8px;
  display: inline-block;
  margin: 5px 1px;
  width: 130px;
}
.moneybox h3 { margin: 2px 0px; }
