%table.table.table-striped#roles
  %tr
    %th.first
    - user.roles_hash.map.each_with_index do |(k, v), i|
      %th{ class: k, data: { index: i } }= v
  %tr
    %td.b Crear ingresos y egresos
    %td
      %span.icon-true
    %td
      %span.icon-true
        %td
          %span.icon-true

  %tr
    %td.b Operaciones con cuentas bancarias, caja y personal
    %td
      %span.icon-true
    %td
      %span.icon-true
    %td
      %span.icon-false

  %tr
    %td.b Crear contacto (clientes y proveedores)
    %td
      %span.icon-true
    %td
      %span.icon-true
    %td
      %span.icon-true

  %tr
    %td.b Crear items y unidades
    %td
      %span.icon-true
    %td
      %span.icon-true
    %td
      %span.icon-false

  %tr
    %td.b Operaciones de inventarios
    %td
      %span.icon-true
    %td
      %span.icon-true
    %td
      %span.icon-false

  %tr
    %td.b Administrar prestamos
    %td
      %span.icon-true
    %td
      %span.icon-true
    %td
      %span.icon-false


  %tr
    %td.b Reportes
    %td
      %span.icon-true
    %td
      %span.icon-true
    %td
      %span.icon-false

  %tr
    %td.b Administrar usuarios
    %td
      %span.icon-true
    %td
      %span.icon-false
    %td
      %span.icon-false
