<style type="text/css">
  input, label{
    font-size: 130%;
  }
</style>
<h1>Recuperar contraseña</h1>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f| %>
  
  <%= f.input :email %>
  <div class="clear"></div>

  <p><%= f.submit "Recuperar contraseña" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
