- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Clientes", clients_path} <span>&gt;</span>
  .links
    = link_to 'Ver', @client, :class => 'show'

%h1 Editar cliente

= render 'contacts/form', :klass => @client

