%div.attachments(ng-controller="AttachmentController")
  %input(type="hidden" ng-init="attachments=#{ attachable.attachments.to_json }")
  -#%input(type="hidden" ng-init="bucket='#{ S3_BUCKET }'")

  %ul.small-attachments-list
    %li(ng-repeat="attachment in attachments")
      .header
        %a.icon-caret-up.fs120(ng-click="upPosition($index)" ng-disabled="attachment.process" href)
        %a.icon-caret-down.fs120(ng-click="downPosition($index)" ng-disabled="attachment.process" href)
        %a.icon-cross.fs120.red(ng-click="delete(attachment, $index)" title="Eliminar" ng-disabled="attachment.process" href)
        %a(title="{{ attachment.name }}" data-toggle='tooltip' href="{{ attachment.attachment_remote_url }}" target="_blank" download="{{ attachment.name }}")
          {{ attachment.name }}

      .clearfix
      %img(ng-src="{{ imageFor(attachment) }}")
      {{ attachment.remote_url }}

  .clearfix

  = render 'attachments/form', attachable: attachable
