%form.attachment-form
  %input(type="hidden" ng-init="attachable_id=#{ attachable.id }")
  %input(type="hidden" ng-init="attachable_type='#{ attachable.class }'")
  %input(type="hidden")

  -#%input(type="file" ng-file-select="onFileSelect($files)" accept="image/*" multiple)

  %input#file-input(type="file" ng-file-select="onFileSelect($files)" multiple placeholder="Seleccione archivos")
  %div.drop-area(ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function" ng-show="dropSupported")
    Arrastre los archivos aquí para adjuntar

  %div(ng-file-drop-available="dropSupported=true" ng-show="!dropSupported")
    HTML5 Drop File is not supported!

  %div.selected-file(class="sel-file" ng-repeat="f in selectedFiles" ng-hide="f.terminated")
    {{ f.file.name }}
    %img(ng-show="f.dataUrl" ng-src="{{f.dataUrl}}")

    -#%button.btn(ng-click="upload.abort(f, index)")
      Cancelar

    %div.progress
      .percentage {{ f.progress }} %
      .progress-bar(style="width: {{ f.progress }}%;")
