%div
  %input(type="hidden" ng-init="attachable_id=#{ attachable.id }")
  %input(type="hidden" ng-init="attachable_type='#{ attachable.class }'")
  %input(type="hidden" ng-init="position=#{ attachable.attachments.size + 1 }")

  -#%input(type="text" ng-model="attachment")
  %input(type="file" ng-file-select="onFileSelect($files)")
  %input(type="file" ng-file-select="onFileSelect($files)" accept="image/*" multiple)
  %button.btn.btn-primary(ng-file-select="onFileSelect($files)" data-multiple="true")
    Upload
  %div(ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function" ng-show="dropSupported" style="width: 300px; height: 200px;border: 1px solid gray")
    drop files here

  %div(ng-file-drop-available="dropSupported=true" ng-show="!dropSupported")
    HTML5 Drop File is not supported!

  %button.btn(ng-click="upload.abort()")
    Cancel Upload
