/* Colors */
/*
@red: 
@light-red:
@dark-red:
@blue: 
@light-blue:
@dark-blue:
@green: 
@light-green:
@dark-green:
@yellow: 
@light-yellow:
@dark-yellow:
@black: 
@light-black:
@dark-black:
*/
@dark_green: #538447;
@white: #FFF;
@red: #FF0000;
@light_red: #FEF1EC;
@black: #000;
@dark: #30383E;//#202020;
@light_dark:#6F6F6F;
@grey: #C6C6C6;
@light_grey:#E9E9E9;
@dark_grey: #616161;
@font_size: 11.5px;

body{
  font-size: @font_size;
  font-family: Tahoma, sans-serif;
  background-color: @light_grey ;
  margin: 0px;
  padding: 0px;
}

/*********************************************************/
/*Forms*/
ul.show{
  li{
    margin: 3px 0px;
    label{
      display:table;
      font-weight: bold;
      margin-right: 5px;
    }
  }
}

label{
  font-weight: bold;
  vertical-align: top;
  display: block;
  color: @dark;
}
input, select, textarea{
  font-size: @font_size;
}

.inline label{
  display: inline;
}
/*
input:focus{
  border-color:@orange;
  background-color:light-orange;
}
abbr{
  color: @green;
}
*/

/*********************************/
form{
  div{
    margin-top: 4px;
  }
}


.ui-state-default{ 
  border: 1px solid #c5dbec; 
  background: #dfeffc url(images/ui-bg_flat_85_dfeffc_40x100.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #2e6e9e; 
}

table.decorated{
  border-collapse: collapse;
  border: 1px solid @grey;
  width: 100%;
  th{
    padding: 4px 8px;
    text-align: left;
    color: @white;
    background-color: @dark;
  }
  tr{
    border-bottom: 1px solid @grey;
  }
}

#header{
  width: 1000px;
  min-height: 100px;
  background-color: @dark;
}

#wrapper{
  width: 1000px;
  background-color: @grey;
  margin: 0px auto 30px;
}

#cont-wrapper{
  padding: 0px 25px 30px;
}
#cont{
  margin: auto;
  padding: 20px;
  background-color: #FFF;
}

form abbr{
  display: none;
}

form.required abbr{
  display: inline;
  color: green;
}

.half{ 
  width: 47%;
  margin: 1.2%;
}
.fl{ float: left; }

/**********************************************************/
#logo{
  float: left;
  height: 65px;
  width: 400px;
  color: @white;
  h1, h2{ margin: 15px; }
}


#other_menu{
  width: 600px;
  float: right;
  height: 65px;
  ul{
    list-style: none;
    float: right;
    margin: 10px;
    li{
      display: inline;
      a{
        color: @white;
        text-decoration: underline;
        margin: 0px 4px;
      }
      a:hover{
        text-decoration: none;
      }
    }
  }
}

/*********************************************************/
.a_menu{
  color: #FFF; 
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 5px 15px;
  border-right: 1px solid @dark;
  border-left: 1px solid @light_dark;
}
.menu_icon{
  background-image: url(images/ui-icons_d8e7f3_256x240.png);
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}
div#nav{
  height: 25px;
  ul#main_menu{
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
    background-image: url(images/bg-darkblue-gradient.png);/*bg_tr_group_headers_hover.png);*/
    background-position: 30% 50%;
    height: 20px;
    display: inline-block;
    li{
      list-style: none;
      float: left;
      margin: 0px;
      padding: 0px;
      display: inline;
      position: relative;
      a{ 
        .a_menu;
        span{
          .menu_icon;
          background-position: -64px -16px;
        }
      }
      ul{
        display: none;
        background-color: @dark;
        padding: 0px;
        margin: 0px;
        z-index: 100;
        width: 130%;
        li{
          margin: 0px;
          padding: 0px;
          float: none;
          a{
            float: none;
            padding: 3px 20px;
            font-weight: normal;
          }
          a:hover{
            background-image: url(images/ui-bg_glass_40_ffc73d_1x400.png);
            background-position: 50%;
            color: @black;
          }
        }
      }
    }
    li:hover{
      ul{
        display: block;
        position: absolute;
      }
      a{
        span{
          .menu_icon;
          background-position: 0px -16px;
        }
      }
    }
  }
}

/**************************************************************/
.error{
  color: @red;
}
.link{
  font-weight: bold;
  padding-left: 20px;
  text-decoration: none;
  display: inline-block;
  margin: 10px 2px;
}
a.new{
  .link;
  font-size: 1.3em;
  background: url(images/add.png) no-repeat;
  color: @dark_green;
}
a.new:hover{
  text-decoration: underline;
}
.edit{
  .link;
  background: url(images/pencil.png) no-repeat;
}

.destroy{
  .link;
  background: url(images/delete.png) no-repeat;
}
.list{
  .link;
  background: url(images/table.png) no-repeat;
}
.show{
  .link;
  background: url(images/zoom.png) no-repeat;
}

.icon{
  width:16px;
  height: 16px;
  display: inline-block;
  text-indent: -1000em;
}
.show_icon{
  .icon;
  background: url(images/zoom.png) no-repeat;
}
.edit_icon{
  .icon;
  background: url(images/pencil.png) no-repeat;
}
.destroy_icon{
  .icon;
  background: url(images/delete.png) no-repeat;
}

a.user{
  padding-left: 18px;
  background: url(images/user_gray.png) no-repeat;
}
a.logout{
  padding-left: 18px;
  background: url(images/logout.png) no-repeat;
}

/****************************/
/* CSS Forms*/
.boolean{
  vertical-align: middle;
  label{
    display: inline-block;
  }
  input:checkbox{
    float: left;
  }
}

.hint{
  display: block;
  color: @light_dark;
  font-style: italic;
}

.inputs>div{
  margin-top: 10px;
}
.errorExplanation{
  color: @red;
  background-color: @light_red;
  border: 1px solid @red;
  padding: 5px 15px;
  ul{
    list-style: none;
  }
}
