/* Colors */
/*
@red: 
@light-red:
@dark-red:
@blue: 
@light-blue:
@dark-blue:
@green: 
@light-green:
@dark-green:
@grey: 
@light-grey:
@dark-grey:
@yellow: 
@light-yellow:
@dark-yellow:
@black: 
@light-black:
@dark-black:
*/

/*Forms*/
ul.show{
  li{
    margin: 3px 0px;
    label{
      display:table;
      font-weight: bold;
      margin-right: 5px;
    }
  }
}

label{
  font-weight: bold;
  vertical-align: top;
  float:left;
  text-align: right;
}
/*
input:focus{
  border-color:@orange;
  background-color:light-orange;
}
abbr{
  color: @green;
}
*/

form{
  div{
    margin-top: 4px;
  }
}
