#banner
  %h2 Contacto
  -#=link_to image_tag("prueba.png"), "/users/sign_up", :id => "register", :class => 'but'

#direccion{:style => "font-size: 1.1em"}
  %h3 Bonsailabs
  -#%p La Paz - Bolivia. Los Pinos, Bloque 80 Of. 201
  -#%p 
    %i Tel.
    591-2-2771564
  %h4= mail_to "contacto@bonsaierp.com"
  %h4= link_to "www.bonsaierp.com", "http://bonsaierp.com"

:javascript
  $(function() {
    $('input, textarea').attr('disabled', true);
  })
