#linea
#redes
  %a.twitter.b{:href => ''} Siguenos en Twitter.
  %a.facebook.b{:href => ''} Haste fans en Facebook.
  

#footer
  © 2011 bonsaierp.com, Inc Todos los derechos   -   Terminos del Servicio   -   Politica de Privacidad  
