.clear
#media
  %a.twitter.b{:href => 'http://twitter.com/#!/bonsaierp'} Siguenos en Twitter.
  -#%a.facebook.b{:href => 'http://www.facebook.com/pages/bonsai/154910684599695?ref=ts&sk=wall'} Hazte fan en Facebook.
  

#footer
  <i>bonsai</i> 
  =link_to "sistema ERP en línea", root_path
  \. Copyright © 2011 bonsaierp.com, Inc. Todos los derechos reservados.
