.clear
#media
  %a.twitter.b{:href => 'http://twiter.com/@bonsaierp'} Siguenos en Twitter.
  %a.facebook.b{:href => ''} Haste fan en Facebook.
  

#footer
  © 2011 bonsaierp.com, Inc Todos los derechos   -   Terminos del Servicio   -   Politica de Privacidad  
