#linea
#redes
  %a{:href => '', :class => 'twitter'} Siguenos en Twitter.
  %a{:href => '', :class => 'facebook'} Haste fans en Facebook.
  

#footer
  © 20111 bonsaierp.com, Inc Todos los derechos   -   Terminos del Servicio   -   Politica de Privacidad  
