#linea
#redes
  =link_to image_tag("twitter.png"), "/users/sign_up", :id => "register", :class => 'but'
  Siguenos en Twitter.  
  =link_to image_tag("facebook.png"), "/users/sign_up", :id => "register", :class => 'but'
  Haste fans en Facebook.

#footer
  © 20111 bonsaierp.com, Inc Todos los derechos   -   Terminos del Servicio   -   Politica de Privacidad  
