:css
  body{
    background: #F7F7F7 url(/assets/fondo.png) repeat-x 0px -30px !important;
  }

- content_for :title do
  Inicio

#home
  = link_to image_tag("prueba.png"), "/users/sign_up", :id => "register", :class => 'but'
  = link_to image_tag("tour.png"), "/tour", :id => "tour", :class => 'but'

  #title
    %h2 <i>bonsai</i> es una herramienta de fácil  uso que brinda  una potente  administración de sus ingresos y egresos
#boxes
  .box
    %h3 Muy sencillo.
    %p 
      Nuestra solución se adecua a distintos tipos de empresas.
    =image_tag "sales_small.png"
  .box
    %h3 Funcionalidad en línea.
    %p 
      El sistema  opera a través de Internet, por lo que los usuarios tienen acceso al sistema en cualquier momento y desde cualquier parte.
    =image_tag "on_line.png"
  .box
    %h3 La aplicación es.
    %p 
      <i>bonsai</i> esta diseñado para pequeñas y medianas empresas, quienes potenciaran la funcionalidad de procesos financieros.
    =image_tag "sales_small.png"
  .clear
