#banner
  .title
    %h2 Nosotros
  =link_to image_tag("prueba.png"), "/users/sign_up", :id => "register", :class => 'but'

%ul.team
  %li
    %h3 Boris Barroso
    %p Al ver que la mayoria de los sistema ERP eran muy complicados Boris comenzo bonsai a fines del anio 2009, trabajando parte del 2010 y el 2011 para poder obtener un producto de alta calidad, Boris medita vipassana y tambien disfruta de estar con su familia
  %li
    %h3 Boris Algaranaz
    %p Boris es un emprendedor que toca en bandas como (Anima y Undead), siempre tiene una sonriza y le gusta mucho trabajar en nuevos proyectos
