:css
  {
  }
#banner
  .title
    %h2 Nosotros
  =link_to image_tag("prueba.png"), "/users/sign_up", :id => "register", :class => 'but'

%ul.team
  %li
    %h3 Boris Barroso
    %p
      = image_tag("bbc160.jpg", :alt => "Boris Barroso", :size => '160x160')
      Al ver que la mayoria de los sistema ERP eran muy complicados Boris comenzo bonsai a fines del año 2009, trabajando parte del 2010 y tomando mas en serio el proyecto el 2011 para poder obtener un producto de alta calidad, Boris medita vipassana y también disfruta de estar con su familia
  %li
    %h3 Boris Algarañaz
    %p 
      = image_tag("bas160.jpg", :alt => "Boris Algarañaz", :size => '160x160')
      Boris es el encargado de manejar la parte administrativa del proyecto y de que todos reciban su paga en la empresa, es un emprendedor que toca en bandas como (Anima y Undead), siempre tiene una sonriza, le gusta mucho trabajar en nuevos proyectos

