#banner
  %h2 Contacto
  -#=link_to image_tag("prueba.png"), "/users/sign_up", :id => "register", :class => 'but'

#direccion{:style => "font-size: 1.1em"}
  %h3 Bonsailabs
  %p Contactese mediante nuestro correo electrónico y vera lo rápido que le respondemos.

  %h4= mail_to "contacto@bonsaierp.com"
  %h4= link_to "www.bonsaierp.com", "http://bonsaierp.com"
