#banner
  %h2 Planes y Precios

  = render "demo_link"

%br

#prices.row-fluid
  .span4
    .price
      %h3.title 
        %span.tip(title="bonsai del tama침o de una palma mano") Shohin
        &nbsp;
        %span.n USD 20 
        %small por mes

      %ul
        %li
          %h4
            2
            %span.n Usuarios
        %li
          %h4 
            %span.n Base de datos de 
            %span(title="100 Megabytes de almacenamieto") 100 MB

  .span4
    .price
      %h3.title 
        %span.tip(title="bonsai del tama침o de 2 palmas de mano") Chiu
        &nbsp;
        %span.n USD 40
        %small por mes

      %ul
        %li 
          %h4 
            5
            %span.n Usuarios
        %li 
          %h4
            %span.n Base de datos de
            %span(title="500 Megabytes de almacenamieto") 500 MB

  .span4
    .price
      %h3.title 
        %span.tip(title="bonsai del tama침o de 4 palmas de mano") Omono
        &nbsp;
        %span.n USD 70
        %small por mes

      %ul
        %li 
          %h4
            10
            %span.n Usuarios
        %li 
          %h4
            %span.n Base de datos de 
            %span(title="1000 Megabytes de almacenamieto") 1000 MB

%br
.span12
  Todos Los planes incluyen:
  %ul
    %li Multiples monedas
    %li Copias diarias de seguridad de la Base de datos ( Backups )
    %li Soporte via correo electr칩nico

