#banner
  %h2 Precios

%br

#prices.row
  .span4
    .price
      %h3.title 
        Inicial
        &nbsp;&nbsp;
        %span.n Bs. 150 

      %ul
        %li <strong>2</strong> Usuarios
        %li Respaldos cada semana (Backups)
        %li Base de datos hasta 100MB

  .span4
    .price
      %h3.title 
        Medio
        &nbsp;&nbsp;
        %span.n Bs. 300 

      %ul
        %li <strong>5</strong> Usuarios
        %li Respaldos cada día (Backups)
        %li Base de datos hasta 500MB

  .span4
    .price
      %h3.title 
        Grande
        &nbsp;&nbsp;
        %span.n Bs. 500

      %ul
        %li <strong>10</strong> Usuarios
        %li Respaldos cada día (Backups)
        %li Base de datos hasta 1000MB

