:css
  {
  }
#banner
  .title
    %h2 Nosotros

  = render "demo_link"

%ul.team
  %li
    %h3 Boris Barroso
    %p
      = image_tag("bbc160.jpg", :alt => "Boris Barroso", :size => '160x160')
      Al ver que la mayoria de los sistema ERP eran muy complicados Boris comenzo bonsai a fines del año 2009, trabajando parte del 2010 y tomando mas en serio el proyecto el 2011 para poder obtener un producto de alta calidad, Boris medita vipassana y también disfruta de estar con su familia
  %li
    %h3 Mario Cesar Señoranis
    %p 
      = image_tag("mcs160.jpg", :alt => "Mario César Señoranis Ayala", :size => '160x160')
      Es un empresario y activista por el Software Libre; con una empresa de
      desarrollo que fundo a los 19 años, a dado servicios a clientes de varios
      paises y diversos temas como ERP's, Finanzas, Activismo y Fundaciones.
      %br
      Es Humanista, Cruceño, Hiperactivo y se describe asi mismo en 
      %em "una desesperación permanente por cambiar el mundo".
