- present @account_balance do |presenter|
  - content_for :links do
    %ul.breadcrumps
      %li= link_to presenter.link_contact_title(@contact), @contact.class.to_s
      %li= link_to @contact, @contact
      %li Balancear cuenta

  %h1 Balancear cuenta
  %h1.n= link_to @contact, @contact

  = render 'account_balances/form', :presenter => presenter, :contact => @contact

