= simple_form_for(income, html: {id: 'transaction_form', class: 'enter ui-form'}) do |f|
  = bonsai_form_error(f)

  -########################################
  -# Render common form elements
  = render 'transactions/shared_form', f: f

  -########################################
  -# Render items
  .row-fluid
    =render "transactions/form_items", f: f, transaction: income, details: :income_details

  = f.submit 'Salvar', class: 'btn btn-success b btn-large'


:coffeescript
  (($) ->
    $('.contact-form').live('new-contact', (event, resp) ->
      $('.contact_id').val(resp.matchcode).data('value', resp.matchcode)
      .prev().val(resp.matchcode)
    )

    $('#transaction_currency').select2()

    fx.rates = exchangeRates.rates
    currency = new App.TransactionCurrency()
    rivets.bind($('.currency-input'), {currency: currency})

    income = new App.Income(currency)
    income.setList()

  )(jQuery)
