%ol#tour-tags.joyride-list.hidden(data-joyride)
  %li(data-sel=".search-tags" data-text="Siguiente" data-tip-location='left')
    %h4
      Etiquetas
    %p
      Las etiquetas son una forma versatil para poder filtrar contenido,
      permitiendo realizar búsquedas y mejores reportes

  %li(data-sel="input.row-check" data-text="Siguiente" data-tip-location='left')
    %h4
      Etiquetemos ingresos
    %p
      Haga click en el cuadro o
      en cualquier parte de la línea con los datos del ingreso,
      puede seleccionar varios ingresos

  %li(data-sel=".select2-container.btags" data-text="Siguiente" data-tip-location='bottom')
    %h4
      Seleccione etiquetas
    %p
      Haga click o comience a escribir para filtrar, en caso de que no haya etiquetas puede
      crear una
      %a#tour-new-tag-link(href='javascript:;') Nueva etiqueta

  %li(data-sel=".apply-tags" data-text="Fin")
    %h4
      Aplique las etiquetas
    %p
      Haga click en
      %strong Aplicar etiquetas


:javascript
  $(function() {
    $('body').on('click', '#tour-new-tag-link',
      function() { $('#new-tag-link').trigger('click');
    });

    // Tags
    function tourTags() {
      $('.btn.tags').trigger('click');
      var t = new Plugin.Bride('#tour-tags');
      t.init();
    }

    if(bonsai.tags.legnth === 0) { tourTags(); }

    $('#help-tags-link').click( function() {
      tourTags()
    });
  });
