%h3.ib
  Operaciones inventario

  = income.inventory_tag

= income.enable_disable_inventory_button

%p.center.inventories-buttons
  = render 'incomes/inventory_buttons', income: income


%ul.listing.unstyled.inventories
  = render partial: 'inventories/movement', collection: @income.inventories.includes(:store, :creator).order('date desc, id desc'), as: :inventory
