= income.pendent_conciliations

%h3.listing-title
  Cobros y devoluciones


%p.center.payment-buttons

  - if income.can_pay?
    = link_to new_income_payment_path(income.id), class: 'btn btn-success w100p', data: { target: '#payment-form', targethide: '.payment-buttons' } do
      %i.icon-plus-sign
      Cobrar

  - if income.can_devolution?
    = link_to new_income_devolution_path(income.id), class: 'btn btn-danger w100p', id: 'devolution-link', data: { target: '#payment-form', targethide: '.payment-buttons' } do
      %i.icon-minus-sign
      Devolución


#payment-form.form-container(ng-controller='DynamicController' dynamic='htmlContent')

%ul.unstyled.listing.ledgers
  = render partial: 'account_ledgers/movement', collection: income.present_ledgers, locals: { current_account_id: income.id }, as: :ledger
