= income.pendent_conciliations

%h3.n.ib
  Cobros y devoluciones


.payment-form.form-container.ajax-modal

%p.center.payment-buttons

  - if income.can_pay?
    = link_to '', class: 'btn btn-success w100p', data: {remote: true, url: new_income_payment_path(income.id) } do
      %i.icon-plus-sign
      Cobrar

  - if income.can_devolution?
    = link_to '', class: 'btn btn-danger w100p', id: 'devolution-link', data: {remote: true, url: new_income_devolution_path(income.id) } do
      %i.icon-minus-sign
      Devolución

-#= link_to 'Ver cobros y devoluciones', ledgers_income_path(income.id),
  class: 'openin', data: { openin: '.ledgers', openinhide: true  }

%ul.unstyled.listing.ledgers
  = render partial: 'account_ledgers/movement', collection: income.present_ledgers, locals: { current_account_id: income.id }, as: :ledger
