.quick-income-form.hide
  = simple_form_for QuickIncome.new(ref_number: Income.get_ref_number), url: quick_income_incomes_path do |f|
    .row-fluid
      .span4= f.input :ref_number, label: "Número de referencia"
      .span4= f.input :account_id, collection: Account.all, label: 'Cuenta'

    .row-fluid
      .span4
        =f.input :contact_id, as: :select2, label: "Contacto",
          'data-source' => '/contacts/search', input_html: { data: {new_url: new_contact_path, title: 'Nuevo contacto', trigger: 'new-contact'}, class: 'contact_id'}
      .span4=f.input :date, as: :datepicker, label: 'Fecha'

    .row-fluid
      .span4=f.input :amount, label: 'Cantidad'
      .span4=f.input :bill_number, label: 'No. de documento', label_html: {title: 'Factura o Recibo', rel: 'tooltip'}

    = f.submit 'Salvar'
    %a#quick-income-hide-link.btn Cancelar

:coffeescript
  (($) ->
    $('#quick-income-link').live 'click', ->
      $('.quick-income-form').show('medium')
      $(this).hide('medium')

    $('#quick-income-hide-link').live 'click', ->
      $('.quick-income-form').hide('medium')
      $('#quick-income-link').show('medium')

    $('.contact-form').live('new-contact', (event, resp) ->
      $('.contact_id').val(resp.matchcode).data('value', resp.matchcode)
      .prev().val(resp.id)
    )

  )(jQuery)
