.row-fluid.but
  .buttons-list.span2
    .btn-group(data-toggle='buttons-radio')
      %button.btn(href='#search-pane') Buscar
      %button.btn(href='#tags-pane') Etiquetas

  .panes.span10
    #search-pane.button-pane
      - if params[:contact_id].present?
        =link_to 'Eliminar filtro', incomes_path

      = form_tag '/incomes', method: 'get', html: {class: 'form-inline'} do
        = text_field_tag 'search', '', class: 'span4', placeholder: 'Contacto, referencia o descripción'
        = submit_tag 'Buscar', class: 'btn btn-primary'

    #tags-pane.button-pane
      Etiquetar

:javascript
  $(function() {
    $('.but').buttonTab();
    //$('#search').autocomplete({
    //  source: '/contacts',
    //  select: function(e, ui) {
    //    window.location = '/incomes?contact_id=' + ui.item.id
    //  }
    //});
  })


