.row-fluid.but
  .buttons-list
    .btn-group.search-tags(data-toggle='buttons-radio')
      %button.btn.search(href='#search-pane') Búsqueda
      %button.btn.tags(href='#tags-pane') Etiquetas

  .panes
    #search-pane.button-pane
      - if params[:contact_id].present?
        =link_to 'Eliminar filtro', incomes_path

      = form_tag '/incomes', method: 'get', class: 'form-inline' do
        = text_field_tag 'search', '', size: 45, placeholder: 'Escriba y/o seleccione una etiqueta', autocomplete: 'off'
        = submit_tag 'Buscar', class: 'btn'

    #tags-pane.button-pane
      = render 'tags/tags', model: 'Income', list: '#incomes-list'

:javascript
  $(function() {
    $('.but').buttonTab();
    new Plugin.TagSearch('#search');
  })
