.input-append.search
  = form_tag '/incomes', method: 'get', class: 'form-inline' do
    = text_field_tag 'search', '', placeholder: 'Buscar por ingreso o contacto', autocomplete: 'off'
    = submit_tag 'Buscar', class: 'btn'
