.row-fluid.but
  .buttons-list.span2
    .btn-group.search-tags(data-toggle='buttons-radio')
      %button.btn.search(href='#search-pane') Buscar
      %button.btn.tags(href='#tags-pane') Etiquetas

  .panes.span10
    #search-pane.button-pane.span12
      - if params[:contact_id].present?
        =link_to 'Eliminar filtro', incomes_path

      = form_tag '/incomes', method: 'get', html: {class: 'form-inline'} do
        = text_field_tag 'search', '', class: 'span5', placeholder: 'Contacto, referencia, etiqueta o descripción', autocomplete: 'off'
        = submit_tag 'Buscar', class: 'btn btn-primary'

    #tags-pane.button-pane.span12
      = render 'tags/tags', model: 'Income', list: '#incomes-list'

:javascript
  $(function() {
    $('.but').buttonTab();
    new Plugin.TagSearch('#search');
  })


