%ol#income-tour.joyride-list.hidden(data-joyride)
  %li(data-sel='.contact' data-text='Siguiente' data-tip-location='bottom')
    %p
      Seleccione el contacto sino haga click en el botón al costado derecho para crear uno nuevo

  %li(data-sel='.currency-input select' data-text='Siguiente' data-tip-location='bottom')
    %p
      Seleccione la moneda, si cambia la moneda el
      %strong Tipo de cambio
      se habilitará

  %li(data-sel='#add-item-link' data-text='Siguiente')
    %p
      Haga click en Nueva línea para adicionar mas ítems

  %li(data-sel='.form-actions .btn-primary' data-text='Fin')
    %p
      Puede salvar o aprobar,
      %strong Salvar
      crea una proforma no válida que despues se puede aprobar,
      %strong Salvar y aprobar
      crea un un ingreso válido que se puede realizar cobros


:javascript
  $(function() {
    $('#incomes-help-link').click(function() {
      var t = new Plugin.Bride('#income-tour');
      t.init();
    });
  })

