%ol#devolution-tour.hidden
  %li(data-sel="#devolution-link" data-text="Siguiente" data-tip-location='bottom')
    %p
      Haga click para abrir el formulario de devolución,
      el color
      %strong.text-error rojo 
      denota que saldra dinero de una cuenta

  %li(data-sel=".account_to" data-text="Fin" data-tip-location='bottom')
    %p 
      Seleccione 
      %strong la cuenta,
      ingrese la fecha, cantidad y referencia
      finalmente realize la devolución
      haciendo click en el
      %strong.text-error botón rojo


:javascript
  $(function() {
    $('#negative-balance-link').click(function() {
      $('.payment-link-tab').trigger('click');
      var t = new Plugin.Bride('#devolution-tour');
      t.init();
    });
  })
