:javascript
  $(function() {
    var tour = new Tour({
      labels: {
        next: "Siguiente",
        prev: "Anterior",
        end: "Fin"
      }
    });

    tour.addSteps([
      {
        element: '.title .code',
        title: 'Código',
        content: 'Este es el código',
        placement: 'top'
      },
      {
        element: '.title .state',
        title: 'Estado',
        content: 'Indica el estado como <span class="label">borrador</span> <span class="label label-info">aprobado</span> <span class="label label-success">pagado</span>',
        placement: 'top'
      },
      {
        element: 'form .contact',
        title: 'Contacto',
        content: 'Seleccione el contacto o presione el boton <span class="btn btn-small"><i class="icon-plus-sign icon-large"></i></span> para adicionar un nuevo contacto',
        placement: 'top'
      },
      {
        element: '#transaction_currency',
        title: 'Moneda',
        content: 'Al cambiar la moneda se activa el <strong>Tipo de cambio</strong> que presenta un valor sugerido',
        placement: 'top'
      },
      {
        element: '#transaction_exchange_rate',
        title: 'Tipo de cambio',
        content: 'Presenta el tipo de cambio indicando la moneda en la que se realiza el mismo',
        placement: 'top'
      },
      {
        element: '#transaction_exchange_rate',
        title: 'Cobro directo',
        content: 'Le permite cobrar directamente el TOTAL del ingreso seleccionando una <strong>cuenta</strong>',
        placement: 'top'
      }
    ]);

      $('#incomes-help').click(function() {
        tour.start(true);
        tour.showStep(0);
      })
  });
