%ol#devolution-tour.hidden
  %li(data-sel="#devolution-link" data-text="Fin" data-tip-location='bottom')
    %p
      Haga click para abrir botón,
      %strong.text-error Devolución

%ul#devolution-inventory.hidden
  %li(data-sel="#inventory-devolution-link" data-text="Fin" data-tip-location="bottom")
    %p
      Haga click en el botón
      %strong.text-error Devolución de mercadería
      y seleccione el almacen.


:javascript
  $(function() {
    $('#negative-balance-link').click(function() {
      new Plugin.Bride('#devolution-tour').init();
    });


    $('body').on('click', '#negative-invenory-balance-link', function() {
      new Plugin.Bride('#devolution-inventory').init();
    });
  })
