%ol#tour-graph.joyride-list.hidden(data-joyride)
  %li(data-sel='h1 span.code' data-text='Siguiente' data-tip-location='bottom')
    %p
      Este es el código del ingreso que se genera automaticamente con la secuencia
      %br
      %strong Ingreso-Año-Número
  %li(data-sel='h1 .state' data-text='Siguiente' data-tip-location='bottom')
    %p
      Estado del ingreso

  %li(data-sel='.contact' data-text='Siguiente' data-tip-location='bottom')
    %p
      Seleccione el contacto sino haga click en el botón al constado derecho para crear uno nuevo

  %li(data-sel='.currency-input select' data-text='Siguiente' data-tip-location='bottom')
    %p
      Seleccione la moneda, si cambia la moneda el
      %strong Tipo de cambio
      se habilitará
      %br
      %span.muted
        Haga click en la ayuda de
        %strong Cobro directo
        para ver la explicación

  %li(data-sel='#add-item-link' data-text='Siguiente')
    %p
      En esta parte uste puded adicionar los ítems o tambien crearlos

  %li(data-sel='input[type="submit"]' data-text='Fin')
    %p
      Puede salvar o aprobar,
      %strong Salvar
      crea una proforma no válida que despues se puede aprobar,
      %strong Salvar y aprobar
      crea un un ingreso válido que se puede realizar cobros


:javascript
  $(function() {
    $('#incomes-help-link').click(function() {
      $('#general-aspects').show();
      var t = new Plugin.Bride('#tour-graph');
      t.init();
    });
  })

