- content_for :links do
  %ul.breadcrumps
    %li #{link_to 'Ventas', incomes_path} 
  .links
    = link_to 'Ver', @transaction, :class => 'show'

%h1 Editar proforma de venta

= render 'transactions/form', :transaction => @transaction, :contacts => Client.scoped
