- content_for :links do
  %ul.breadcrumbs.span6
    %li
      %span Ingresos


-#%input(type='text' id='searchTest' size="40")

-#:coffeescript
  $('#searchTest').autocomplete( source: '/items/search_income' )
  $('#searchTest').data('uiAutocomplete')._renderItem = (ul, item) ->
    $('<li>').html('<a>' + item.name + ' <span class="label label-inverse">' + item.code + '</span></a>').appendTo(ul)


.row-fluid
  .span6
    %h1 Ingresos
  .span6.r
    %a#quick-income-link.btn(href="javascript:;")
      %i.icon-bolt
      Ingreso rápido

    = link_to new_income_path, class: 'btn' do
      %i.icon-plus-sign
      Nuevo ingreso

.row-fluid
  = render 'incomes/quick_income'

= paginate @incomes.page(@page)

%ul.unstyled.listing
  %li.row-fluid
    .span4.offset7
      .span6.r.b.muted
        Total
      .span6.r.b.muted
        Saldo
  = render @incomes
