- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to 'Ingresos', incomes_path} 
    %li
      %span Nueva proforma de venta

%h1 Nuevo Ingreso

= render 'incomes/form', transaction: @income, contacts: Client.scoped
