.input-append.search
  = form_tag '/contacts', method: 'get', class: 'form-inline' do
    = text_field_tag 'search', '', placeholder: 'Nombre, email o teléfono'
    = submit_tag 'Buscar', class: 'btn'


:javascript
  $(function() {
    $('#search').autocomplete({
      source: '/contacts',
      select: function(e, ui) {
        window.location = '/contacts/' + ui.item.id
      }
    });
  })
