- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to @inv.store, @inv.store
    %li
      %i.icon-caret-right
    %li
      Ingreso de items

.row-fluid
  .span12
    %h2
      = @inv.inventory.ref_number
      %small
        Recoger mecadería egreso
        = link_to @inv.expense, @inv.expense

= render 'form', inv: @inv

