- content_for :links do
  %ul.breadcrumbs
    %li
      = link_to "Proyectos", projects_path

.row-fluid
  .span6
    %h1 Editar proyecto
  .span6.r
    = link_to icon_show_text, @project, class: 'btn'


= render 'form'
