- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to "Proyectos", projects_path} 

  .links.span6
    = link_to 'Ver', @project, :class => 'show'

%h1 Editar proyecto
.clear

= render :partial => 'form'
