- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Proyectos", projects_path} <span>&gt;</span>

  .links
    = link_to 'Ver', @project, :class => 'show'

%h1 Editar proyecto
.clear

= render :partial => 'form'
