@import 'compass'

.attachments
  .small-attachments-list
    list-style: none
    li
      display: inline-block
      height: 230px
      margin: 4px
      vertical-align: top
      width: 200px
      .header
        overflow: hidden
        white-space: nowrap
      img
        +box-shadow
        max-height: 200px
        max-width: 200px
