- url ||= controller_name

%a.btn(href="javascript:void(0)" ng-tags='#{!defined?(hide_tags_filter).nil?}' url="/#{url}" tag_ids="#{tag_ids}" model="#{model}")
  %i.icon-tags
  Etiquetas
  %i.icon-caret-down
