#btag
  #btag-template.hidden
    %li
      %a {{}}

  #btag-editor(style="display:none;background-color:#fff")
    %input#model(type='hidden')
    .control-group.name.ib
      %input(type='text' id='btag-name-input' placeholder='nombre')

    .control-group.bgcolor.ib.form-inline
      %input(type='text' id='btag-bgcolor-input' size='7' placeholder='#ff0000')
    %button.btn.btn-primary.b Crear

    .clearfix
    %ul.btags-colors
      %li.color(style='background-color:#FF0000' data-color='#FF0000')
      %li.color(style='background-color:#FF9000' data-color='#FF9000')
      %li.color(style='background-color:#FFD300' data-color='#FFD300')
      %li.color(style='background-color:#77B92D' data-color='#77B92D')
      %li.color(style='background-color:#049CDB' data-color='#049CDB')
      %li.color(style='background-color:#1253A6' data-color='#1253A6')
      %li.color(style='background-color:#4022A7' data-color='#4022A7')
      %li.color(style='background-color:#8E129F' data-color='#8E129F')

    .clearfix

  #btag-selector

    .btags-form
      %input#tags(type="text" placeholder="Seleccione o escriba")
      %i.icon-caret-down
      %button.btn.btn-primary.apply-tags Aplicar

    .btags-links
      %a#new-tag-link.btn(href="javascript:;")
        %i.icon-plus-circle
        Nueva etiqueta

      %a#help-tags-link.dark(href='javascript:;')
        %i.icon-question-sign
        Ayuda

:javascript
  $(function() {
    var tag = new Plugin.Tag("#{list}", "#{model}", window.tags);

    $('.btags-form .icon-caret-down').click(function() {
      $('#tags').select2('open');
    });
  });
