.row-fluid
  .span6
    %h1 Prestamos
  .span6.r
    .btn-group
      = link_to new_receive_loans_path, class: 'btn' do
        Recibir prestamo

      = link_to new_give_loans_path, class: 'btn' do
        Dar prestamo

%ul.listing.unstyled
  %li.row-fluid
    .span3.offset5
      %strong.muted Intereses
    .span3
      .span6
        %strong.muted Total
      .span6
        %strong.muted Saldo

  = render partial: 'loan', collection: present(@loans), as: :loan
