- content_for :links do
  %ul.breadcrumps
    %li
      %span Prestamos

.page-header
  %h1 Prestamos


.btn-group
  %a.btn.btn-primary{'data-toggle' => 'dropdown'} Nuevo prestamo
  %a.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown'}
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to new_loan_path(:operation => 'out') do
        %i.icon-arrow-right
        Dar prestamo
    %li
      = link_to new_loan_path(:operation => 'in') do
        %i.icon-arrow-left
        Recibir prestamo
