- content_for :links do
  %ul.breadcrumps
    %li #{link_to 'Compras', buys_path} <span>&gt;</span>

%h1 Nueva compra/gasto

= render 'transactions/form', :transaction => @transaction, :contacts => Supplier.org

