- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to 'Compras y gastos', buys_path} 

%h1 Nueva compra/gasto

= render 'transactions/form', :transaction => @transaction, :contacts => Supplier.scoped

