%table.table.table-striped#payments_table
  %tr.header
    %th Código Fecha
    %th.span4 Descripción
    %th Cantidad #{transaction.currency_symbol}
    %th.nw Total fila #{transaction.currency_symbol}
    %th
  
  - transaction.account_ledgers.order("created_at DESC").each do |al|
    = render "payments/payment", account_ledger: al, transaction: transaction

  %tr.extra.pad_top
    %td.cur.b(colspan='4') Total
    %td.cur.b#total_payment= ntc transaction.total
    %td

