- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to "Configuración", configurations_path

%h1 Adicionar usuario


= simple_form_for @admin_user, url: admin_users_path do |f|
  = bonsai_form_error(f)

  = render 'form', f: f, user: present(@admin_user.user)

  .form-actions
    = f.submit 'Crear usuario', class: 'btn btn-success b'
