%ol#devolution-tour.hidden
  %li(data-class="devolution-error" data-text="Siguiente" data-options="outerHeight:0")
    %h4
      Soluciones el problema
    %p Comecemos con seleccionar la pestaña de Cobros
  %li(data-id="devolution-link" data-text="Siguiente")
    %p Hagamos click para abrir el formulario
  %li(data-id="income_devolution_account_to_id" data-text="Siguiente" data-options="tipLocation:top")
    %p Seleccione la cuenta, si la cuenta es de banco podra seleccionar la opcion de verificacion
  %li(data-id="income_devolution_verification" data-text="Siguiente")
    %p Indique si desea realizar una verificacion futura, por ejemplo cuando le pagan con cheque
  %li(data-id="income_devolution_reference" data-text="Siguiente")
    %p Llene con una referencia que le hara recuerdo, por ejempo Num. de recibo o de cheque
  %li(data-class="submit-devolution" data-text="Fin")
    %p Salve la devolución

:coffeescript
  $(->
    incomePostStep = (pos, $object) ->
      switch pos
        when 0
          $('#tabs').tabs('option', 'active', 1)
    # Joyride tour
    $('#income-negative-balance-link').click(->
      $('#devolution-tour').joyride({
        postStepCallback: incomePostStep
      })
    )
  )
