.search.input-append
  = form_tag '/items', method: 'get', class: 'form-inline' do

    = text_field_tag 'search', '', placeholder: 'Buscar por nombre o código'
    = submit_tag 'Buscar', class: 'btn'

    = link_to 'eliminar filtro', items_path  if params[:commit].present?
