.row-fluid.but
  .buttons-list.span2
    .btn-group.search-tags(data-toggle='buttons-radio')
      %button.btn.search(href='#search-pane') Buscar
      %button.btn.tags(href='#tags-pane') Etiquetas

  .panes.span10
    #search-pane.button-pane.span12
      = form_tag '/items', method: 'get', class: 'form-inline' do
        = text_field_tag 'search', '', placeholder: 'Nombre o código', size: 35
        = submit_tag 'Buscar', class: 'btn btn-primary'

      =link_to 'eliminar filtro', items_path  if params[:commit].present?

    #tags-pane.button-pane.span12
      = render 'tags/tags', model: 'Item', list: '#items-list'

:javascript
  $(function() {
    $('.but').buttonTab();
    new Plugin.TagSearch('#search');
  })

