- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Items", items_path


.row-fluid
  .span6
    %h1 Editar ítem
  .span6.r
    .btn-group
      = link_to icon_new_text, new_item_path, class: 'btn'
      = link_to icon_show_text, @item, class: 'btn'

= render 'items/form'
