<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<p>
  <b>Abreviation:</b>
  <%= @country.abreviation %>
</p>


<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
