%h1 Recuperación de contraseña en <span style="font-style: italic">#{APP_NAME}</span>

%p
  Alguien a solicitado recuperar la contraseña si desea recuperar su contraseña haga click en el vinculo
%p
  = link_to "Cambiar contraseña", url_for(controller: 'reset_passwords', action: 'edit', id: @user.reset_password_token, host: DOMAIN, protocol: HTTP_PROTOCOL, subdomain: 'app' ), style: 'color: #FFF; background-color: #0064cd; font-weight: bold; padding: 8px 14px; text-decoration: none; border-radius: 3px;'

