%h1 Recuperación de contraseña en <span style="font-style: italic">#{APP_NAME}</span>

%p 
  Si usted a solicitado la recuperación de la contraseña por favor
  =link_to "haga click es en este vínculo", url_for(controller: 'reset_passwords', action: 'edit', id: @user.reset_password_token, host: UrlTools.domain, protocol: UrlTools.protocol), style: 'font-weight:bold'
  de lo contrario elimine este email.

