@import colors
@import compass

h1
  font-size: 30px
  small
    font-size: 18px
h2
  font-size: 26px
  small
    font-size: 18px
h3
  font-size: 22px
  small
    font-size: 14px
h4
  font-size: 18px
  small
    font-size: 10px

.alert h4
  color: black

.alert-info h4
  color: white

.alert-success h4
  color: white

.alert-error h4
  color: white

.pagination
  margin: 15px 0px
  > ul > li > a
    //+background-image(linear-gradient(lighten($grayLight, 14%), $grayLighter ) )
    padding: 8px 18px
    font-size: 110%

// Select2
.select2-container.span10
  margin: 0px

.select2-highlighted
  .gray
    color: white
