<% simple_form_for(@tax) do |f| %>
  <div class="inputs">
    <%= f.input :name, :label => 'Nombre' %>
    <%= f.input :abbreviation, :label => 'Abreviación' %>
    <%= f.input :rate, :label => 'Cantidad' %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
