<% simple_form_for(@tax) do |f| %>
    <%= f.input :name, :label => 'Nombre' %>
    <div class="input">
      <%= f.input :abbreviation, :label => 'Abreviación' %>
      <%= f.input :rate, :label => 'Cantidad', :input_html => {:size => 10, :type => 'decimal'} %>
    </div>
    <div class="clear"></div>

  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
