<% simple_form_for(@unit) do |f| %>
  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :symbol %>
    <%= f.input :integer, :wrapper_html => {:class => "inline"} %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
