- content_for :links do
  .span6 &nbsp;
  .links.span6=link_to 'Nueva unidad', new_unit_path, :class => "new"

%h1 Unidades de medida

%table.table.table-striped.span6
  %tr
    %th Nombre
    %th Unidad
    %th 

  - @units.each do |unit|
    %tr
      %td= link_to unit.name, unit, :class => 'b'
      %td= unit.symbol
      %td=  raw bonsai_links(unit)
