$font_size: 12px;

html{ font-size: $font_size;}
body{
  font-family: Segoe UI, Helvetica, "Helvetica Neue", Arial, sans-serif;
  background: transparent url('./images/bg/01.png');
  margin: 0px;
  padding: 0px;
}

a{
  color: $link;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
hr{ border:0px;
  background-color: $grey;
  color: $grey;
  height: 1px;
}


/*********************************************************/
/*MAIN CONTENT WRAPPERS*/
#main_wrap{
  width: 100%;
  background: transparent url("./images/back_new.png") repeat-x 0 0;
  min-height: 500px;
}
#wrapper{
  margin: auto;
  //width: 968px;
  width: 1000px
}

#wrap_in{
  position: relative;
}
#logo{
  position: absolute;
  height: 100px;
  width: 80px;
  background:url("images/back.png") no-repeat scroll left top transparent;
  z-index: 1000;
  right: 10px;
  a{
    width: 89px;
    height: 99px;
    display: block;
    text-indent: -2000em;
  }
}

#cont{
  margin: auto;
  padding-bottom: 50px;

  //TODO: compass
  -moz-border-radius: 0px 0px 6px 6px;
  -webkit-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);

  background-color: #fff;
  border-top: 1px solid #bbb;
}

#links{
  clear: both;
  margin-top: 8px;
  .links a{
    @include link;
    font-size: 12px;
    padding: 4px 10px 2px 20px;
    color: #555;
    &:hover {
        color: #000;
    }
  }
}

#cont-in{
  padding: 10px 15px 90px;
}


#header{
  height: 80px;
  position: relative;
  clear: both;
  h1{
    width: 50%;
	float: left;
	color: $white;
	margin: 7px 0px 0 14px;
    overflow: hidden;
    height: 45px;
	vertical-align: top;
    max-width: 400px;
    text-shadow: 1px 1px 1px #000;
  }
  ul#usersettings{
    position: absolute;
    top: 0;
    right: 0;
	padding: 0px 5px;
	height: 29px;
    margin-top: 0;
    background: transparent url('images/silver.png') repeat-x fixed 0 -8px;
    border: 1px solid #fff;
    border-width: 0 1px 1px 1px;

    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    font-size: 0.9em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.8);
    li{
      list-style: none;
      margin: 0px;
      padding: 0px;
      float: left;
      a{
        vertical-align: middle;
        display: block;
        padding: 7px 10px 7px 20px;
        color: #333;
        text-decoration: none;
      }
      a.limit{
        height: 10px;
        overflow: hidden;
        max-width: 250px;
      }
      a:hover{
        text-decoration: underline;
      }
	  }
      

    li.left{
      background: url(images/set_left.png);
      width: 7px;
      height: 29px;
    }
    li.right{
      background: url(images/set_right.png);
      width: 7px;
      height: 29px;
    }
  }

}
#menu{
  height: 32px;
}

#foot{
  height: 32px;
}

#cont-in h1{
  margin: 4px 0px 20px;
  color: $dark;
}
h1{ font-size: 2.2em; color: $dark;}
h2{ font-size: 1.7em; color: $dark;}
h3{ font-size: 1.3em; color: $dark;}
h4{ font-size: 1.1em; color: $dark;}
h2, h3, h4, h5{ margin: 8px 0px;}
.error{
  color: $red;
}
p{ margin: 4px 0px; }

#due_date{
  color: $white;
  font-weight: bold;
  float: right;
  display: inline-block;
  margin-right: 100px;
  padding: 10px 0px;
  font-size: 110%;
  .red{ color: darken($red, 10%) !important;}
}
