/* Colors */
$green:#5BBF3B;
$menu_green:#7FBD42;
$dark_green: #538447;
$white: #FFF;
$white_tan: #F7F7F7;
$red: #FF0000;
$light_red: #FEF1EC;
$red_hover: #FF5757;
$black: #000;
$dark: #484A4C;//#202020;
$grey: #C6C6C6;
$light_grey:#F0F0F1;
$dark_grey: #717171;
$orange: #FECD0A;
$light_orange: #ffe374;
$blue: #6793CE;
$light_blue: #D0DEF1;
$yellow:#FFFF00;
$light_yellow:#FFFFC5;
$dark_yellow:#D0D02A;

$link: #095495;
/* #547299;*/
$font_size: 13px;

._10, .w10{ width: 9% !important;}
._15, .w15{ width: 14% !important;}
._20, .w20{ width: 19% !important;}
._25, .w25{ width: 24% !important;}
._30, .w30{ width: 29% !important;}
._33, .w33{ width: 33% !important;}
._40, .w33{ width: 39% !important;}
._50, .w33{ width: 49% !important;}
._60, .w33{ width: 59% !important;}
._70, .w33{ width: 69% !important;}
._100 {width: 100%; }
.w50 { width: 49%; }
.p100 { width: 100px; }
.p200 { width: 200px; }
.p300 { width: 300px; }

.mt5{ margin-top: 5px !important; }
.mt10{ margin-top: 10px !important; }
.mt15{ margin-top: 15px !important; }
.mt20{ margin-top: 20px !important; }
.mb5{ margin-bottom: 5px !important; }
.mb10{ margin-bottom: 10px !important; }
.mb15{ margin-bottom: 15px !important; }
.mb20{ margin-bottom: 20px !important; }

.half{ 
  width: 47%;
  margin: 1.2%;
}
.fl{ float: left; }
.fr{ float: right; }
.clear{ clear:both; }

.true{
  background: transparent url(images/tick.png) no-repeat center 50%;
}
.false{
  background: transparent url(images/cross.png) no-repeat center 50%;
}

tr.true{ background: transparent; }
tr.false{ background: transparent; }

span.true, span.false{
  width: 16px;
  height: 16px;
  display: inline-block;
}
.hide{
  display: none;
}

/*Font styles*/
.b{ font-weight: bold; }
.n{ font-weight: normal; }
.i{ font-style: italic; }

.l{ text-align: left; }
.c{ text-align: center; }
.r{ text-align: right; }
.nw{ white-space: nowrap; }

.fs11{ font-size: 110%; }
.fs12{ font-size: 120%; }
.fs13{ font-size: 130%; }
.fs14{ font-size: 140%; }
.fs15{ font-size: 150%; }

._120{
  font-size: 120%;
  input, select, textarea{
    font-size: 120%;
  }
}

.marked{ background-color: $light_blue !important; }

/* Breadcrumps*/
ul.breadcrumps{
  list-style: none;
  padding: 0px;
  margin: 0px;
  float:left;
  width: 50%;
  li{
    display: inline;
    span{ 
      font-size: 70%;
      position:relative;
      top: -1px;
      padding: 0px 5px;
    }
  }
}
.pagination{
  font-weight: bold;
  float:left;
  margin: 10px;
}
/*IE7*/
.prev, .page, .next{
  font-weight: bold;
  display: inline-block;
  margin: 0px 3px;
}
a.search{
  font-weight: bold;
  float:left;
  margin: 10px !important;
  padding: 0px 0px 0px 20px;
  background: transparent url(images/zoom.png) no-repeat;
}
div.search{
  display: none;
}

.moneybox{
  background-color: $light_grey;
  padding: 8px;
  display:inline-block;
  margin: 5px 1px;
  width: 130px;
  h3{ margin: 2px 0px; color: $black; }
}

.tooltip{
  border: 1px solid $grey;
  background: $white;
  color: $dark;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 4px;
}

/*especial tabs*/
ul.tabs{
  list-style: none;
  background-color: $light_grey;
  height: 35px;
  padding: 0px 15px;
  margin:0px 0px 20px;
  border-bottom: 1px solid $grey;
  li{
    display: inline;
    a{
      display:block;
      float:left;
      padding: 12px;
    }
    a.active{
      font-weight: bold;
      color: $dark;
    }
  }
}

.message{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid $green;
  color: $dark;
  margin: 4px 0;
  padding: 10px;
  width: 50%;
  position: relative;
  span.close{
    background-position: -96px -128px;
    background-image: url("images/ui-icons_469bdd_256x240.png");
    height: 16px;
    width: 16px;
    display:block;
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
  }
}

/**********************/
/*LINKS*/

@mixin link{
  font-weight: bold;
  padding-left: 20px;
  margin: 0px 5px;
  color: $dark_green;
  font-size: 110%;
  display: inline-block;
  min-height: 16px;
}
@mixin min-height{ min-height: 16px; display: inline-block;}

.links{
  font-weight: bold;
  padding-left: 20px;
  color: $dark_green;
  width: 40%;
  float:right;
  text-align: right;
  a:hover{ 
    text-decoration: none;
    color: $green;
  }
}

a.new{
  font-weight: bold;
  padding-left: 22px;
  color: $dark_green;
  display: inline-block;
  background: transparent url(images/add.png) no-repeat scroll 4px 50%;
  font-size: 120%;
}
a.button{
  border: 1px solid $grey;
  padding: 5px 8px 5px 26px;
  margin: 5px;
  background-color:$light_grey;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
a.new:hover{ 
  color: $green;
  text-decoration: none;
}
a.button:hover{
  background-color: $white;
  text-decoration: none !important;
}
a.add{
  @include link;
  background: url(images/add.png) no-repeat 0px 50%;
}
a.edit{
  @include link;
  background: url(images/pencil.png) no-repeat 0px 50%;
}

a.destroy, a.delete{
  @include link;
  background: url(images/trash.png) no-repeat 0px 50%;
}
a.key{
  @include link;
  background: url(images/key.png) no-repeat 0px 50%;
}
a.delete{color: $red;}
a.delete:hover{ color: $red_hover !important; }

a.list{
  @include link;
  @include min-height;
  background: url(images/table.png) no-repeat 0px 50%;
}
a.show{
  @include link;
  @include min-height;
  background: url(images/zoom.png) no-repeat;
}
a.cog{
  @include min-height;
  background: transparent url(images/cog.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.user{
  @include min-height;
  background: transparent url(images/user.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.logout{
  @include min-height;
  background: transparent url(images/logout.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.email{
  @include min-height;
  background: transparent url(images/email.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.print{
  @include min-height;
  background: transparent url(images/printer.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.money{
  @include min-height;
  background: transparent url(images/money.png) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.calendar{
  @include min-height;
  background: transparent url(images/calendar.gif) no-repeat 0 50%;
  padding-left: 20px !important;
}
a.trash{
  @include min-height;
  background: transparent url(images/trash.png) no-repeat 0 50%;
  padding-left: 20px !important;
  min-height: 20px;
}
a.sync{
  @include min-height;
  background: transparent url(images/arrow_refresh_small.png) no-repeat 0 50%;
  padding-left: 16px !important;
}
/*********************************************/

@mixin icon{
  width:16px;
  height: 16px;
  display: inline-block;
  text-indent: -1000em;
}
.show_icon{
  @include icon;
  background: url(images/zoom.png) no-repeat;
}
.edit{
  @include icon;
  background: url(images/pencil.png) no-repeat;
}
.destroy{
  @include icon;
  background: url(images/delete.png) no-repeat;
}
