/* Colors */
$green:#5BBF3B;
$menu_green:#7FBD42;
$dark_green: #538447;
$white: #FFF;
$white_tan: #F7F7F7;
$red: #FF0000;
$light_red: #FEF1EC;
$red_hover: #FF5757;
$black: #000;
$dark: #484A4C;//#202020;
$grey: #C6C6C6;
$light_grey:#F0F0F1;
$dark_grey: #717171;
$orange: #FECD0A;
$light_orange: #ffe374;
$blue: #6793CE;
$light_blue: #D0DEF1;
$yellow:#FFFF00;
$light_yellow:#FFFFC5;
$dark_yellow:#D0D02A;

$link: #095495;
/* #547299;*/
$font_size: 13px;

._10, .w10{ width: 9% !important;}
._15, .w15{ width: 14% !important;}
._20, .w20{ width: 19% !important;}
._25, .w25{ width: 24% !important;}
._30, .w30{ width: 29% !important;}
._33, .w33{ width: 33% !important;}
._40, .w33{ width: 39% !important;}
._50, .w33{ width: 49% !important;}
._60, .w33{ width: 59% !important;}
._70, .w33{ width: 69% !important;}
._100 {width: 100%; }
.w50 { width: 49%; }
.p100 { width: 100px; }
.p200 { width: 200px; }
.p300 { width: 300px; }

.mt5{ margin-top: 5px !important; }
.mt10{ margin-top: 10px !important; }
.mt15{ margin-top: 15px !important; }
.mt20{ margin-top: 20px !important; }
.mb5{ margin-bottom: 5px !important; }
.mb10{ margin-bottom: 10px !important; }
.mb15{ margin-bottom: 15px !important; }
.mb20{ margin-bottom: 20px !important; }

._120{
  font-size: 120%;
  input, select, textarea{
    font-size: 120%;
  }
}

.half{ 
  width: 47%;
  margin: 1.2%;
}
.fl{ float: left; }
.fr{ float: right; }
.clear{ clear:both; }

.true{
  background: transparent url(images/tick.png) no-repeat center 50%;
}
.false{
  background: transparent url(images/cross.png) no-repeat center 50%;
}
