/* Colors */
$green:#5BBF3B;
$menu-green:#7FBD42;
$dark-green: darken($green, 20%);
$white: #FFF;
$white_tan: #F7F7F7;
$red: #FF0000;
$light_red: #FEF1EC;
$red_hover: #FF5757;
$black: #000;
$dark: #484A4C;//#202020;
$grey: #C6C6C6;
$light_grey:#F0F0F1;
$dark_grey: #717171;
$orange: #FECD0A;
$light_orange: #ffe374;
$blue: #6793CE;
$light_blue: #D0DEF1;
$yellow:#FFFF00;
$light_yellow:#FFFFC5;
$dark_yellow:#D0D02A;

$link: #095495;

.red{ color: $red !important; }
.bg_red{ background-color: $red; }
.grey{ color: $grey; }
.dark_grey{ color: $dark_grey; }
.green{ color: $green; }
.dark_green{ color: $dark_green; }
.black{ color: $black; }

.bg_red{ background-color: $red !important; }
.bg_green{ background-color: $green !important; }
.bg_light_grey{ background-color: $light_grey; }
.bg_white_tan{ background-color: $white_tan; }
.bg_white{ background-color: $white !important; }
