/* Colors */
$green: #46a546
$menu-green: #7FBD42
$dark-green: darken($green, 20%)
$white: #FFF
$white_tan: #F7F7F7
//$red: #FF0000
$light_red: #FEF1EC
$red_hover: #FF5757
$black: #000
$dark: #484A4C
$gray: #C6C6C6
$light-gray:#F0F0F1
$dark-gray: #717171
$orange: #FECD0A
$light-orange: #ffe374
$blue: #6793CE
$light-blue: #D0DEF1
$yellow: #FFFF00
$light-yellow:#FFFFC5
$dark-yellow:#D0D02A


$black:                 #000
$grayDarker:            #222
$grayDark:              #333
$gray:                  #555
$grayLight:             #999
$grayLighter:           #eee
$white:                 #fff


// Accent colors
// -------------------------
$blue:                  #049cdb
$blueDark:              #0064cd
$green:                 #46a546
$bonsai:                #77b92d
$bonsaiDark:            darken($bonsai, 10%)
$bonsaiDarker:          darken($bonsai, 20%)
$red:                   #9d261d
$yellow:                #ffc40d
$orange:                #f89406
$pink:                  #c3325f
$purple:                #7a43b6

$linkColor:             #08c
$linkColorHover:        darken($linkColor, 15%)

$red2:                  darken(red, 7%)

.white
  color: white !important
.red
  color: $red !important
.gray
  color: gray !important
.light-gray
  color: lighten(gray, 20%) !important
.dark-gray
  color: gray24 !important
.green
  color: $green !important
.dark-green
  color: darken($green, 15%) !important
.dark-red
  color: darken($red, 30%) !important
.dark-yellow
  color: darken($yellow, 35%) !important
.black
  color: black

.alert-color
  color: #C09853

.bg-red
  background-color: $red !important
.bg-green
  background-color: $green !important
.bg-dark-green
  background-color: darken($green, 15%) !important
.bg-gray
  background-color: $gray !important 
.bg-dark-gray
  background-color: darken($gray, 15%) !important 
.bg-light-gray
  background-color: $light_gray !important 
.bg-white-tan
  background-color: $white_tan !important 
.bg-white
  background-color: $white !important 
.bg-dark
  background-color: $dark !important 
.bg-dark2
  background-color: lighten($dark,20%) !important 
