ul.isotope-widgets {
  display: block;
  list-style: none;
  padding: 0;
}
ul.isotope-widgets li {
  display: block;
  float: left;
  width: 220px;
  margin: 4px;
  position: relative;
}
ul.isotope-widgets li a {
  -ms-filter: none;
  zoom: 1;
}
ul.isotope-widgets li a.button-blue strong {
  border-bottom: 1px solid #034462;
}
ul.isotope-widgets li a.button-blue span {
  color: #fff;
  text-shadow: 0 -1px 0 #034462;
}
ul.isotope-widgets li a.button-green strong {
  border-bottom: 1px solid #561;
}
ul.isotope-widgets li a.button-green span {
  color: #fff;
  text-shadow: 0 -1px 0 #556611;
}
ul.isotope-widgets li a.button-orange strong {
  border-bottom: 1px solid #d61;
}
ul.isotope-widgets li a.button-orange span {
  color: #fef4e9;
  text-shadow: 0 -1px 0 #dd6611;
}
ul.isotope-widgets li a.button-red strong {
  border-bottom: 1px solid #a92c2c;
}
ul.isotope-widgets li a.button-red span {
  color: #fef4e9;
  text-shadow: 0 -1px 0 #a92c2c;
}
ul.isotope-widgets li a strong, ul.isotope-widgets li a span {
  color: #111;
  display: block;
  font-family: Arial, sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
ul.isotope-widgets li a strong {
  border-bottom: 1px solid #999;
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
  padding-bottom: 10px;
  text-align: right;
}
ul.isotope-widgets li a span {
  border-top: 1px solid #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
}
ul.isotope-widgets li a:hover, ul.isotope-widgets li a:active {
  -ms-filter: none;
}
ul.isotope-widgets > li a {
  -webkit-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.4), inset 0 -2px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.4), inset 0 -2px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.4), inset 0 -2px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  color: #111;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.menuhover-gray {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.9);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.9);
  @include rounded-corners(2px);
}

/* Buttons */

.button-gray:active,
.button-blue:active,
.button-green:active,
.button-orange:active,
.button-red:active {
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.9);
  -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.9);
}

.button-gray {
  background: #f1f1f1;
  border: 1px solid #cbcbcb;
  @include horizontal-gradient(#fefefe, #d8d8d8);
}
.button-gray:hover {
  background: #e4e4e4;
  border: 1px solid #bebebe;
  @include horizontal-gradient(#f1f1f1, #cbcbcb);
}
.button-gray:active {
  background: #bebebe;
  border: 1px solid #989898;
  @include horizontal-gradient(#cbcbcb, #e5e5e5);
}
.button-blue {
  background: #009ad5;
  border: 1px solid #006388;
  @include horizontal-gradient(#00adee, #0075a2);
}
.button-blue:hover {
  background: #0088bb;
  border: 1px solid #00506f;
  @include horizontal-gradient(#009ad5, #006388);
}
.button-blue:active {
  background: #00506f;
  border: 1px solid #001922;
  @include horizontal-gradient(#006388, #0088bb);
}
.button-green {
  background: #6ac235;
  border: 1px solid #498624;
  @include horizontal-gradient(#77cc44,  #549a2a);
}
.button-green:hover {
  background: #5fae2f;
  border: 1px solid #3e721f;
  @include horizontal-gradient(#6ac235, #498624);
}
.button-green:active {
  background: #3e721f;
  border: 1px solid #1d350f;
  @include horizontal-gradient(#498624, #5fae2f);
}
.button-orange {
  background: #ffb13b;
  border: 1px solid #ee8f00;
  @include horizontal-gradient(#ffbb55, #ff9c08);
}
.button-orange:hover {
  background: #ffa722;
  border: 1px solid #d47f00;
  @include horizontal-gradient(#ffb13b, #ee8f00);
}
.button-orange:active {
  background: #d47f00;
  border: 1px solid #885200;
  @include horizontal-gradient(#ee8f00, #ffa722);
}
.button-red {
  background: #d94141;
  border: 1px solid #ab2222;
  @include horizontal-gradient(#dd5656, #c02727);
}
.button-red:hover {
  background: #d42c2c;
  border: 1px solid #951e1e;
  @include horizontal-gradient(#d94141, #ab2222);
}
.button-red:active {
  background: #951e1e;
  border: 1px solid #561111;
  @include horizontal-gradient(#ab2222, #d42c2c);
}
