@import "colors.css.scss";
@import "mixins.css.scss";
@import "aristo.css.scss";
@import "base.css.scss";
@import "forms.css.scss";
@import "dashboard.css.scss";
@import "flash.css.scss";
//@import "fancy_forms.css.scss";

body {
    margin: 120px auto;

}

#dialog_wrapper {
  margin: 0 auto;
  width: 504px; 
  .legal {
    color: #333;
    font-size: 0.9em;
    margin: 1em 0;
  }
  #dialog {
    width: 500px;
    padding: 0;
    background: #fff url('./images/back_new.png') repeat-x 0 -82px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: static;

    -webkit-box-shadow: 0 2px 6px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 6px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 6px 1px rgba(0,0,0,0.5);

    h1 {
        margin-left: 12px;
        margin-top: 4px;
        margin-bottom: 10px;
    }

    form {
        margin: 0 1em;
        fieldset {
            border: none;
            background-color: #fff;
            padding:0;
            div.input {
                width: 100%;
                input {
                    width: 99%; 
                }
            }
        }
        span.signup {
            @extend .button-gray;
            @extend .isotope-item;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1.1em;
            font-weight: bold;
            margin-right: .5em;
            padding: 4px 16px;
            color: #444;
        }

        input.submit {
            @extend .button-green;
            color: #fff;
            border-radius: 4px;
        }
        .form_actions {
            text-align: right;
        }
    }
    #flashNotice {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 360px;
    }
  }
}
