@mixin flash{
  @include rounded-corners(4px);

  padding:10px;
  border-radius: 4px;
  font-size: 120%;
  position: relative;
  margin: 8px 0px;
}
#flashNotice{
  @include flash;

  border: 2px solid $dark_green;
  color: $dark_green;
}

#flashError{
  @include flash;

  border:2px solid $red;
  color:$red;
}
#flashWarning, #flashAlert{
  @include flash;

  color: $dark;
  border: 2px solid $dark_yellow;
  background-color: $light_yellow;
}

.message{
  @include flash;

  border: 2px solid $green;
  font-size: 95%;
  color: $dark;
  margin: 4px 0;
  padding: 10px;
  width: 50%;
  position: relative;
}

a.close{
  text-indent: -1000em;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  right: 4px;
  background: transparent url(images/close2.png) no-repeat;
}
