#flashNotice{
  @include flash($green);
}

#flashError{
  @include flash($red);
}
#flashWarning, #flashAlert{
  @include flash(darken($yellow, 10%));
}

.message{
  @include flash(lighten($black, 10%));
}

a.close{
  text-indent: -1000em;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  right: 4px;
  background: transparent url(close2.png) no-repeat;
}
