@import "colors";
$font_size: 13px;
/*************************************/
/*FORM STYLES*/
form{
  div{
    margin-top: 4px;
  }

}
.input{
  width:49%;
  float:left;
  margin: 8px 0px;
}
label{
  font-weight: bold;
  vertical-align: top;
  color: gray;
  abbr {
    border: none;
  }
}
label.collection_radio, label.collection_check_boxes{
  font-weight:normal;
  display: inline-block;
}
.show label{ margin-bottom: 5px; }
input, select, textarea{
  font-size: $font_size;
  padding: 1px 2px;
}
select{
  max-width: 300px;
}
.inline label{
  display: inline;
}
.optional label.collection_radio{
  display: inline-table;
}
option.new{
  color: $dark;
  font-weight: bold;
}

.boolean{
  vertical-align: middle;
  label{
    display: inline-block;
  }
  input:checkbox{
    float: left;
  }
}

.numeric input{ text-align: right; }

.hint{
  display: block;
  color: $dark_gray;
  font-style: italic;
}

.inputs>div{
  margin-top: 10px;
}

/*
input[type=submit]:hover{
  opacity: 0.65;
}*/
.errorExplanation{
  color: $red;
  background-color: $light_red;
  border: 2px solid $red;
  padding: 5px 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  ul{
    list-style: none;
    padding: 0px 10px;
  }
  h2{ 
    font-weight:normal;
    font-size: 1.2em;
    margin: 4px 0px;
  }
}
span.error{
  display: block;
  color: $red;
}
.dropdown{
  display: inline-block;
  .input{ display: none; }
  $ddwidth: 400px;
  p{
    //@include rounded-corners(3px);
    //@include b-shadow(0, 0, 4px);
    overflow: hidden;
    width: $ddwidth + 10;
    padding-right: 30px;
    border: 1px solid $gray;
    background: url("images/bullet_arrow_down.png") no-repeat scroll $ddwidth 2px transparent;
    padding: 3px;
    cursor: default;
  }
  ul{
    position: absolute;
    background-color: $white;
    display: none;
    border: 2px solid lighten($gray, 10%);
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: $ddwidth;
    border-bottom: 8px solid lighten($gray, 10%);
    max-height: 200px;
    overflow: auto;
    li{
      padding: 6px 4px;
      border-bottom: 1px solid ;
      cursor: default;
    }
  }
}

.field_with_errors {
  input, textarea, select {
    background-color: lighten($red, 40%);
    border-color: lighten($red, 25%) !important;
  }
}

form.simple_form div.main {
    padding: 0 1em;
    border-radius: 3px;
}

a{ text-decoration: none; }
