body{
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: Segoe UI,Arial,sans-serif;
  font-size: 13px;
  background: $back url(fondo2.png) repeat-x 0px -30px;
}

h1, h2, h3{ font-family: muli, arial, serif; }
a{
  color: darken( $blue, 25% );
  img{ border: none; }
  text-decoration: none;
}
ul{
  margin: 4px;
  padding: 4px 12px;
  text-align: justify;
  li{ padding: 4px 0px; }
}

/* Estilos*/
.but{
  display: inline-block;
}
.clear{ clear: both; 
}
.light-grey{ background-color: lighten($grey, 20%);}
.pad-10{ padding: 10px; }

/**************************************************************/

#wrapper{
  width: 900px;
  text-align: left;
  margin: 0px auto 60px auto;
  /*@include b-shadow(0px, 0px, 10px, darken($grey, 30%));*/
  border-radius: 4px 4px 8px 8px;
}


#header{
  position: relative;
  height: 60px;
  #logo{
    position: absolute;
    top: 10px;
    left: 20px;
  }
  #login{
    color: $white;
    @include rounded-corners(3px);
    background: lighten($green, 10%) url(user2.png) no-repeat 3px 4px;
    //font-style: italic;
    position: absolute;
    top: 16px;
    right: 40px;
    //padding-left: 20px;
    //color: darken($green, 10%);
    padding: 3px 3px 3px 22px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    font-family: muli, arial, serif;
    &:hover{
      background-color: darken($green, 10%);
    }
  }
  #menu{
    list-style: none;
    position: absolute;
    top: 5px;
    left: 200px;

    li{
      display: inline;
      float: left;
      a{
        display: block;
        margin: 0px 5px;
        font-family: 'Muli', arial, serif;
        color: lighten($black, 10%);
        text-decoration: none;
        font-size: 22px;
        &:hover{ color: $green; }
        @include t-shadow(1px, 1px, 1px, darken($grey, 20%));
      }
      a.selected{ 
        color: darken($green, 10%);
        text-shadow: 2px 2px 2px darken($grey, 20%);
        -moz-text-shadow: 2px 2px 2px darken($grey, 20%);
        -webkit-text-shadow: 2px 2px 2px darken($grey, 20%);
      }
    }
  }
}
#home{
  background: transparent url(imagenes_video.png) no-repeat;
  height: 411px;
  position: relative;
  #register{
    position: absolute;
    top: 50px;
    right: 140px;
  }
  #tour{
    position: absolute;
    top: 50px;
    right: 5px;
  }
  #title{
    position: absolute;
    width: 350px;
    padding: 0px;
    color: $white;
    font-family: 'Muli', arial, serif;
    top: 130px;
    right: 10px;
    h2{font-weight: normal; font-size: 18px;}
  }
  #video{
    position: absolute;
    top: 50px;
    left: 10px;
  }
}

#boxes{
  margin-top: 20px;
  padding: 0px 10px;
}
.box{
  width: 205px;
  float: left;
  margin: 10px 0px;
  h3{ 
    margin: 5px 10px;
    color: darken($green, 20%);
  }
  p{
    margin: 5px 10px;
    height: 64px;
  }
  img{ margin: 4px 10px;}
}
#buttons{
  padding: 15px;
}
#footer{
  text-align: center;
  padding: 15px;
  margin: 20px 0px;
}  

#banner{
  position: relative;
  margin: 0px;
  padding: 0px; 
  background: #F7F7F7 url(imagenes2.png);
  height: 99px;

  h2{ 
    margin: 0px;
    top: 80px;
    color:darken(white, 0%);
    font-weight: normal; 
    font-size: 30px;
    @include t-shadow(0px, 2px, 0px, black);
    padding: 20px 30px;
  }
  #register{
    position: absolute;
    top: 20px;
    right: 30px; 
  }
}
/* CSS de Tour*/
.tour_part{
  h2{ 
    //@include rounded-corners(4px);
    color: darken($green, 20%);
    margin: 10px 0px;
    padding: 10px;
    //background: #F7F7F7 url(imagenes2.png);
  }
  margin-top: 10px;
  width: 100%;
  clear: both;
  .img{ float: left; }
  .comment{ 
    float: left;
    width: 40%;
    margin-left: 20px;
  }
}

/* CSS de Contactnos*/
#contact{
  input, textarea{
    font-size: 1.5em;
  }
  label{
    display: block;
    font-weight: bold;
  }
}
input[type=text], textarea{
  border: 2px solid darken($grey, 10%);
  padding-left: 3px;  
  padding-top: 6px;
  font-weight: normal;
}

.fl{ float: left; }
._30{ width: 29%; }
._35{ width: 34%; }
._65{ width: 64%; }
._70{ width: 69%; }
.b{ font-weight: bold; }

ul.team{
  list-style: none;
  padding: 0px;
  margin: 0px;

  li{
    width: 49%;
    float: left;
    height: 150px;
    h3{ color: darken($green, 20%);}
    p{ padding: 0px 10px 5px 5px; }
  }
}

#linea{
  margin-top: 50px;
  margin-bottom: 10px;
  width: 50%;
  height: 1px;
  background: darken($green, 10%);
}

.facebook{
  height: 32px;
  padding-left: 35px;
  background: url(/assets/facebook.png) no-repeat;
  display: inline-block;
  padding-top: 9px;
  margin:0px 5px;
}
.twitter{
  height: 32px;
  padding-left: 35px;
  background: url(/assets/twitter.png) no-repeat;
  display: inline-block;
  padding-top: 9px;
  margin:0px 5px;
}
