ul#main_menu{ 
  height: 25px;
  margin: 2px 0px;
  padding: 0;
  position: relative;
  float: left;
  -webkit-margin-before: 0px;
  clear: both;
  z-index: 200;
  // First li
  >li{
    display: inline;
    padding: 0px;
    margin: 0px;
    float: left;
    >a{
      font-size: 110%;
      //font-weight: bold;
      //color: #F7EAA3;
      color: #FFF;
      padding: 3px 15px;
      text-decoration: none;
      display: block;
      text-shadow: 1px 1px 1px #000; // TODO: Use compass framework for this
    }
    a.more{ 
      background: url("images/up_down_fff.png") no-repeat scroll right -12px transparent !important;
    }
  }
  // Display sub menu
  >li:hover{
    ul.more{ display: block; position: absolute; }
  }
  li.sub{
    background: url("images/back_sep.png") no-repeat scroll left 50% transparent !important;
    // border-left: 1px solid lighten($green, 25%);
    margin-right: 15px;
  }

  /*SUB MENU*/
  ul{display: none; }
  ul.more{
    display: none;
    position: absolute;
    padding: 0px;
    margin-left: 12px;
    padding: 2px;
    z-index: 200;
    background-color: rgba(255,255,255,0.5);/*$menu_green;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    // Change to use compass framework
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);

    .separator {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #fff;
        margin: .5em 2px;
    }

    a{ 
      color: $link; 
      display: block; 
      padding: 2px 0px; 
    }
    a:hover{ text-decoration: underline; }

  }
  // li.more: for sub menu
  li.more{
    float: none;
    margin: 0px;
    padding: 0;
    display: block;
    background-color: #EFEFEF;
    border: 1px solid #eee;
    clear: both;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    ul{ display: block; padding: 0px; clear: both; }
    li{ width: 100%; padding: 0; list-style: none;
        a {
            padding: 4px 6px;
            color: #000;
            text-decoration: none;
            &:hover {
                background-color: #fff;
                text-decoration: none;
                @extend .menuhover-gray;
                border: none !important;
            }
        }
    }

    li.tit{ font-weight: bold; border-top: 1px inset $grey; margin-top: 3px; }
    li.tit, li.b{ color: $dark !important; }
  }
}
