ul#main_menu>li{ 
  display: inline;
  padding: 0px;
  margin: 0px;
  float: left;

  a.more{ background: url("images/up_down.png") no-repeat scroll right -12px transparent !important; }
}
ul#main_menu>li>a{
  font-size: 110%;
  font-weight: bold;
  color: #F7EAA3;
  padding: 3px 15px;
  text-decoration: none;
  display: block;
}

ul#main_menu>li{
  display: inline;
}

ul#main_menu{
  height: 25px;
  margin: 0px;
  margin: 2px 0px;
  padding: 5px 10px;
  position: relative;
  float: left;
  -webkit-margin-before: 0px;
  clear: both;
  z-index: 200;

  /*SUB MENU*/
  ul{display: none; }
  ul.more{
    display: none;
    position: absolute;
    padding: 0px;
    margin: 0px;
    padding: 10px;
    z-index: 200;
    background-color: rgba(0,0,0,0.3);/*$menu_green;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    a{ 
      color: $link; 
      display: block; 
      padding: 2px 0px; 
    }
    a:hover{ text-decoration: underline; }

  }
}

#main_menu li.more{
  float: none;
  margin: 0px;
  padding: 4px 4px 15px;
  display: block;
  background-color: $white;
  clear: both;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  ul{ display: block; padding: 0px 10px; clear: both; }
  li{ width: 100%; margin-left: 7px; padding: 3px; color: $dark; list-style: disc; }

  li.tit{ font-weight: bold; border-top: 1px solid $grey; margin-top: 3px; }
  li.tit, li.b{ color: $dark !important; }
}

#main_menu>li:hover ul.more{ display: block; position: absolute; }
