@import "compass";

@mixin link{
  font-weight: bold;
  padding-left: 20px;
  margin: 0px 5px;
  color: darken($green, 10%);
  font-size: 110%;
  display: inline-block;
  min-height: 16px;
}

@mixin icon{
  width:16px;
  height: 16px;
  display: inline-block;
  text-indent: -1000em;
}

@mixin box($width, $color, $border: 1px, $padding: 5px, $margin: 7px) {
  @include border-radius(4px);
  @include b-shadow(1px, 1px, 3px, $color);
  border-width: $border;
  border-style: solid;
  border-color: $color;
  padding: $padding;
  margin: $margin;
  float: left;
  width: $width;
}

@mixin horizontal-gradient($color1, $color2) {
    background-image: -webkit-gradient(linear, left bottom, left top, from($color1), to($color2));
    background-image: -webkit-linear-gradient(top, $color1, $color2);
    background-image:     moz-linear-gradient(top, $color1, $color2);
    background-image:     -ms-linear-gradient(top, $color1, $color2);
    background-image:      -o-linear-gradient(top, $color1, $color2);
    background-image:         linear-gradient(top, $color1, $color2);
          -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2')';
}
