@mixin rounded-corners($radius: 4px) {
  border-radius: $radius;  
  -moz-border-radius: $radius;  
  -webkit-border-radius: $radius; 
}

@mixin dashlet($radius: 3px){
  @include rounded-corners($radius);
  padding: 2px 3px;
  color: $white;
}

@mixin link{
  font-weight: bold;
  padding-left: 20px;
  margin: 0px 5px;
  color: darken($green, 10%);
  font-size: 110%;
  display: inline-block;
  min-height: 16px;
}

@mixin icon{
  width:16px;
  height: 16px;
  display: inline-block;
  text-indent: -1000em;
}
