table.decorated{
  border: 1px solid $grey;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 1px 2px #ccc;
  th{
    padding: 0 8px;
    text-align: left;
    color: $dark-grey;
    background: transparent url(images/silver.png) repeat-x 0 0;
    height: 22px;
    border-right: 1px solid $grey;
  }
  tr{
    border-bottom: 1px solid $grey;
  }
  td{
    padding: 7px 8px;
    a.edit, a.delete, a.destroy, a.duplicate{
      width:16px;
      height: 16px;
      display: inline-block;
      float: left;
      text-indent: -1000em;
      overflow: hidden;
      font-size: 0px;
      margin: 0px;
      padding: 0px 2px;
    }
  }
  td.line{ border-bottom: 1px solid $grey; }
  tr.extra{
    border-bottom: none !important;
    h3{ margin: 1px 0px; }
    td{ padding: 6px; }
  }
  tr.pad_top{
    td{ padding-top: 15px; }
  }
  tr.false{ color: $dark_grey; }
  /* for Currency*/
  td.cur{
    text-align: right;
    white-space: nowrap;
  }
  tr.out td.color{ color: $red }
}
table.nwl{ 
  td:last-child{ white-space: nowrap; width: 50px; }
}
table.nwf{
  td:first-child{ white-space: nowrap; }
}

