- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to @inv.store, @inv.store
    %li
      %i.icon-caret-right
    %li
      Ingreso de items

.row-fluid
  .span12
    %h1
      %span.muted.n Operación inventario:
      = @inv.inventory.ref_number
    %h4.text-error
      Devolución mecadería egreso

= render 'form', inv: @inv

