<h3>Bienvenido <%= @resource.email %> a bonsaierp!</h3>

<p> 
Haga click en: <strong><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></strong> para confirmar su registro.
</p>

<% if @resource.change_default_password? %>
  <p>
    Su contraseña ahora es: <strong><%= @resource.temp_password %></strong>
  </p>
<% end %>
