<p>Bienvenido <%= @resource.email %> a bonsaierp!</p>

<p>Puede confirmar su cuenta haciendo click al vínculo de abajo:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
