<p>Hola <%= @resource.email %>!</p>

<p>Alguien a solicitado enviar un vículo para poder cambiar de contraseña, si es asi por favor haz click al vínculo "Cambiar contraseña".</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no ha solicitado el cambio de contraseña, por favor ignore este email.</p>
<p>
Su contraseña no cambiara hasta que acceda con el vínculo "Cambiar contraseña" y seleccione una nueva contraseña
</p>
