<div id='item-template'>
  <tr class="item">
    <td>
      <div class="control-group autocomplete optional"><div class="controls"><input type="hidden" name="income[transaction_details_attributes][0][item_id]" id="income_transaction_details_attributes_0_item_id"><input type="text" size="35" placeholder="Escriba para buscar el ítem" name="item_autocomplete" id="item_autocomplete" data-source="/items/search.json" class="autocomplete optional item_id ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span></div></div>
    </td>
    <td>
      <div class="control-group decimal optional"><div class="controls"><input type="decimal" value="0" step="any" size="8" name="income[transaction_details_attributes][0][price]" id="income_transaction_details_attributes_0_price" data-value="item.price" data-original-price="null" class="numeric decimal optional"></div></div>
    </td>
    <td>
      <div class="control-group decimal optional"><div class="controls"><input type="decimal" value="0" step="any" size="8" name="income[transaction_details_attributes][0][quantity]" id="income_transaction_details_attributes_0_quantity" data-value="item.quantity" class="numeric decimal optional"></div></div>
    </td>
    <td class="total_row r">
      <span data-text="item.subtotal">30</span>
    </td>
    <td class="del"><a title="Borrar" class="destroy" href="javascript:">&nbsp;</a></td>
  </tr>
</div>
