- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to 'Ventas', incomes_path} 
  .links.span6
    = link_to 'Ver', @income, :class => 'show'

%h1 Editar proforma de venta

= render :partial => 'form'
