%ol#tour-tags.joyride-list.hidden(data-joyride)
  %li(data-sel=".search-tags" data-text="Siguiente" data-tip-location='left')
    %h4
      Etiquetas
    %p
      Las etiquetas son una forma muy versatil de poder filtrar contenido,
      permitiendo realizar busquedas y mejores reportes

  %li(data-sel="input.row-check" data-text="Siguiente" data-tip-location='left')
    %h4
      Etiquetemos egresos
    %p
      Haga click en el cuadro o
      en cualquier parte de la línea con los datos del egreso,
      puede seleccionar varios egresos

  %li(data-sel=".select2-container.btags" data-text="Siguiente" data-tip-location='bottom')
    %h4
      Seleccione etiquetas
    %p
      Haga click o comience a escribir para filtrar, en caso de que no haya etiquetas puede
      crear una
      %a#tour-new-tag-link(href='javascript:;') Nueva etiqueta

  %li(data-sel=".apply-tags" data-text="Fin")
    %p
      Haga click en
      %strong Aplicar etiquetas


:javascript
  $(function() {
    $('body').on('click', '#tour-new-tag-link',
      function() { $('#new-tag-link').trigger('click');
    });

    // Tags
    function tourTags() {
      $('button[href=#tags-pane]').trigger('click');
      var t = new Plugin.Bride('#tour-tags');
      t.init();
    }

    //if(tags.legnth === 0) { tourTags(); }

    $('body').on( 'click','#help-tags-link', function() { tourTags() });
  });

