.row-fluid.but
  .buttons-list.span2
    .btn-group(data-toggle='buttons-radio')
      %button.btn(href='#search-pane') Buscar
      %button.btn(href='#tags-pane') Etiquetas

  .panes.span10
    #search-pane.button-pane.span12
      = form_tag '/expenses', method: 'get', html: {class: 'form-inline'} do
        = text_field_tag 'search', '', class: 'span4', placeholder: 'Contacto, codigo o referencia', autocomplete: 'off'
        = submit_tag 'Buscar', class: 'btn btn-primary'

    #tags-pane.button-pane.span12
      = render 'tags/tags', model: 'Expense', list: '#expenses-list'

:javascript
  $(function() {
    $('.but').buttonTab();
  })
