.search.input-append
  = form_tag '/expenses', method: 'get', class: 'form-inline' do
    = text_field_tag 'search', '', placeholder: 'Buscar por egreso o contacto', autocomplete: 'off'
    = submit_tag 'Buscar', class: 'btn'
