%ol#devolution-tour.hidden
  %li(data-sel="#devolution-link" data-text="Siguiente" data-tip-location='bottom')
    %p
      Haga click para abrir el formulario de devoluci칩n, 
      el color 
      %strong.text-success verde
      denota que se ingresar치 dinero a una cuenta

  %li(data-sel=".account_to" data-text="Fin" data-tip-location='bottom')
    %p 
      Seleccione 
      %strong la cuenta,
      ingrese la fecha, cantidad y referencia
      finalmente realize la devoluci칩n
      haciendo click en el
      %strong.text-success bot칩n verde


:javascript
  $(function() {
    $('#negative-balance-link').click(function() {
      $('.payment-link-tab').trigger('click');
      var t = new Plugin.Bride('#devolution-tour');
      t.init();
    });
  })

