%ol#devolution-tour.hidden
  %li(data-sel="#devolution-link" data-text="Fin" data-tip-location='bottom')
    %p
      Haga click para poder realizar la
      %strong.red devolución


%ul#devolution-inventory.hidden
  %li(data-sel="#inventory-devolution-link" data-text="Fin" data-tip-location="bottom")
    %p
      Haga click en el botón para realizar la
      %strong.red devolución de mercadería

:javascript
  $(function() {
    $('#negative-balance-link').click(function() {
      new Plugins.Bride('#devolution-tour').init();
    });

    $('body').on('click', '#negative-invenory-balance-link', function() {
      new Plugins.Bride('#devolution-inventory').init();
    });
  })

