%ol#expense-tour.joyride-list.hidden(data-joyride)
  %li(data-sel='.contact' data-text='Siguiente' data-tip-location='bottom')
    %p
      Seleccione el contacto sino haga click en el botón al costado derecho para crear uno nuevo

  %li(data-sel='.currency-input select' data-text='Siguiente' data-tip-location='bottom')
    %p
      Seleccione la moneda, si cambia la moneda el
      %strong Tipo de cambio
      se habilitará
      %br
      %span.muted
        Haga click en la ayuda de
        %strong Pago directo
        para ver la explicación

  %li(data-sel='#add-item-link' data-text='Siguiente')
    %p
      En esta parte usted puded adicionar los ítems o tambien crearlos

  %li(data-sel='.form-actions .btn-primary' data-text='Fin')
    %p
      Puede salvar o aprobar,
      %strong Salvar
      crea una proforma no válida que despues se puede aprobar,
      %strong Salvar y aprobar
      crea un un ingreso válido que se puede realizar cobros


:javascript
  $(function() {
    $('#expenses-help-link').click(function() {
      var t = new Plugin.Bride('#expense-tour');
      t.init();
    });
  })


