- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to 'Egresos', expenses_path
    %li
      %i.icon-caret-right
    %li
      =link_to @expense, @expense
    %li
      %i.icon-caret-right
    %li
      %span Editar

.row-fluid
  .span6
    %h1 Editar egreso
  .span6.r
    = link_to icon_show_text, @expense, class: 'btn'

= render 'expenses/form', expense: @expense, contacts: Contact.scoped
