- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to 'Egresos', expenses_path
    %li
      %i.icon-caret-right
    %li
      =link_to @expense, @expense
    %li
      %i.icon-caret-right
    %li
      %span Editar

  .links.span6

%h1 Editar Egreso

= render 'expenses/form', :expense => @expense, contacts: Contact.scoped
