- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to 'Egresos', expenses_path
    %li
      %i.icon-caret-right
    %li
      =link_to @es.expense, @es.expense

  %ul.breadcrumbs.r.span6
    %a#expenses-help-link.dark(href='javascript:;')
      %i.icon-question-sign
      Ayuda
- exp_presenter = present @es.expense
.row-fluid
  .span6
    %h1
      %span.muted.n Nuevo Egreso
      %span.code(title='Código egreso: Egreso-Año-Número' data-toggle='tooltip')= @es.expense
      %small.state(title='Estado' data-toggle='tooltip')= exp_presenter.state_tag
  .span6.r
    = link_to icon_show_text, expense_path(@es.expense_id), class: 'btn'

= render 'expenses/form', expense_service: @es
