- content_for :links do
  %ul.breadcrumbs.span6
    %li
      %span Egresos


.row-fluid
  .span6
    %h1 Egresos
  .span6.r
    %a#quick-expense-link.btn(href="javascript:;")
      %i.icon-bolt
      Egreso rápido

    = link_to new_expense_path, class: 'btn' do
      %i.icon-plus-sign
      Nuevo egreso

.row-fluid
  .span6
    = render 'expenses/search'

.row-fluid
  = render 'expenses/quick_expense'

= paginate @expenses

%ul.unstyled.listing
  %li.row-fluid
    .span4.offset7
      .span6.r.b.muted
        Total
      .span6.r.b.muted
        Saldo

  =render @expenses
