- content_for :links do
  %ul.breadcrumbs.span6
    %li #{link_to 'Egresos', expenses_path}
    %li
      %i.icon-caret-right
    %li
      %span Nuevo Egreso

- exp_presenter = present @es.expense
%h2
  %span.muted.n Nuevo Egreso
  = @es.expense
  %small.state= exp_presenter.state_tag

= render 'expenses/form', expense_service: @es
