- content_for :links do
  %ul.breadcrumbs.span6
    %li #{link_to 'Egresos', expenses_path}
    %li
      %i.icon-caret-right
    %li
      %span Nuevo Egreso

%h1 Nuevo Egreso

= render 'expenses/form', expense: @expense, contacts: Contact.scoped
