- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to "Proveedores", suppliers_path} 
  .links.span6
    = link_to 'Ver', @contact, :class => 'show'

%h1 Editar proveedor

= render 'contacts/form', :klass => @supplier

