:css
  .btags .select2-search-choice{
    border: none;
    background-color: transparent;
    padding: 3px 0px !important;
  }
  .btags .select2-search-choice a.select2-search-choice-close{
    display: none;
  }


%input#test-tags(type="text" class="span5")

:javascript
  $(function() {
    function tagFormater(data) {
      return '<span style="background-color: red;color: white;padding:2px 3px;border-radius:3px;">' + data.text + '</span>';
    }
    function tagSelectFormater(data) {
      return '<span style="background-color: red;color: white;padding:2px 3px;border-radius:3px;"><a class="icon-remove" href="javascript:;" style="color:white;"></a> ' + data.text + '</span>';
    }
    
    var data = [
      {id:1, text: 'ruby'}, 
      {id:2, text: 'javascript'}, 
      {id:3, text: 'coffeescript'}, 
      {id:4, text: 'php'}, 
      {id:5, text: 'vba'},
      {id:6, text: 'python'}
    ];

    $('#test-tags').select2({
      data: data,
      multiple: true,
      formatResult: tagFormater,
      formatSelection: tagSelectFormater,
      containerCssClass: 'btags',
      escapeMarkup: function(t) { return t }
    });

    $.fn.select2.defaults.formatSelectionCssClass = function() { return 'red'}

    $('body').on('click', 'a.icon-remove', function() {
      $(this).parents('.select2-search-choice').find('a.select2-search-choice-close').trigger('click');
    });
  })
