%input#test-tags(type="text" class="span2")

:javascript
  $(function() {
    var data = [
      {id:1, text: 'ruby', bgcolor: '#ff0000'},
      {id:2, text: 'javascript', bgcolor: '#77b92d'},
      {id:3, text: 'coffeescript', bgcolor: '#3300af'},
      {id:4, text: 'php', bgcolor: '#ffff00'},
      {id:5, text: 'vba', bgcolor: '#efefef'},
      {id:6, text: 'python', bgcolor: '#ffd000'}
    ];

    $('#test-tags').select2({
      data: data,
      multiple: true,
      formatResult: Plugin.Tag.formatResult,
      formatSelection: Plugin.Tag.formatSelect,
      containerCssClass: 'btags',
      dropdownCssClass: 'btags',
      escapeMarkup: function(t) { return t }
    });

    $.fn.select2.defaults.formatSelectionCssClass = function() { return 'red'}

    $('body').on('click', 'a.icon-remove', function() {
      $(this).parents('.select2-search-choice').find('a.select2-search-choice-close').trigger('click');
    });
  })
