%input#test-tags(type="text" class="span2")
.clearfix
#btag-editor
  .control-group.name.ib
    %input(type='text' id='btag-name-input' placeholder='Etiqueta')

  .control-group.bgcolor.ib
    %input(type='text' id='btag-bgcolor-input' size='7' placeholder='#ff0000')
  %button.btn.btn-success.b Crear

  .clearfix
  %ul.btags-colors
    %li.color(style='background-color:#FF0000' data-color='#FF0000')
    %li.color(style='background-color:#FF9000' data-color='#FF9000')
    %li.color(style='background-color:#FFD300' data-color='#FFD300')
    %li.color(style='background-color:#77B92D' data-color='#77B92D')
    %li.color(style='background-color:#049CDB' data-color='#049CDB')
    %li.color(style='background-color:#1253A6' data-color='#1253A6')
    %li.color(style='background-color:#4022A7' data-color='#4022A7')
    %li.color(style='background-color:#8E129F' data-color='#8E129F')


  -#%li.color(style='background-color:#FF7373' data-color='#FF7373')
  -#%li.color(style='background-color:#FFC273' data-color='#FFC273')
  -#%li.color(style='background-color:#FFE773' data-color='#FFE773')
  -#%li.color(style='background-color:#B2DC80' data-color='#B2DC80')
  -#%li.color(style='background-color:#6DC6ED' data-color='#6DC6ED')
  -#%li.color(style='background-color:#6B99D3' data-color='#6B99D3')
  -#%li.color(style='background-color:#8B77D3' data-color='#8B77D3')
  -#%li.color(style='background-color:#C36ACF' data-color='#C36ACF')

<br><br>
.clearfix

%button.btn Boton
%button.btn.btn-info Boton
%button.btn.btn-primary Boton
%button.btn.btn-success Boton
%button.btn.btn-danger Boton
%button.btn.btn-warning Boton
%button.btn.btn-inverse Boton

<br><br>
%h1
  Esto es h1
  %small Small
%h2
  Esto es h2
  %small Small

%h3
  Esto es h3
  %small Small

%h4
  Esto es h4
  %small Small

.clerafix

%p
  #inline-calendar

%span(style='position:absolute;font-size: 30px; left: 2px; top: 300px')
  %i.icon-plus-circle

.flash.alert
  %h4 Alert
  %p Alert

.flash.alert.alert-info
  %h4 Alert info
  %p Alert info

.flash.alert.alert-success
  %h4 Alert success
  %p Alert success

.flash.alert.alert-error
  %h4 Alert error
  %p Alert error

.flash.alert.alert-warning
  %h4 Alert warning
  %p Alert warning

.clearfix

%ul.colors
  - ['white', 'white-tan', 'black', 'blue', 'blue-dark', 'blue-darker', 'green', 'green-dark', 'bonsai', 'bonsai-dark', 'bonsai-darker', 'red', 'red-light', 'yellow', 'yellow-dark', 'orange', 'orange-dark', 'pink', 'purple', 'violet', 'gray-darker', 'gray-dark', 'gray', 'gray-light','gray-lighter', 'border-gray', 'link-color', 'link-color-hover', 'red2'].each do |col|
    %li.b(class="#{col}") This is #{ col }

:javascript
  $(function() {
    $('ul.colors li:lt(2)').css('background', '#333');

    $('#inline-calendar').datepicker();

    var data = [
      {id:1, text: 'ruby', bgcolor: '#ff0000'},
      {id:2, text: 'javascript', bgcolor: '#77b92d'},
      {id:3, text: 'coffeescript', bgcolor: '#3300af'},
      {id:4, text: 'php', bgcolor: '#ffff00'},
      {id:5, text: 'vba', bgcolor: '#efefef'},
      {id:6, text: 'python', bgcolor: '#ffd000'}
    ];

    $('#test-tags').select2({ data: data, multiple: true })

    //var tag = new Plugin.SearchTag('#test-tags', data);

    //new Plugin.NewTag();

  })
