:css
  #header{ display: none; }
  #menu{ display: none; }
  #cont{
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

.lonely(style="max-width: 350px;")
  .row-fluid
    .inset.center
      %header
        %h3 Recuperar contraseña
      .pad
        = simple_form_for(@reset_password) do |f|

          = f.input :email, label: false, :input_html => {:class =>'txt span10', placeholder: 'E-mail'}
          %center
            = f.submit "Recuperar contraseña", :class => 'btn btn-success b'
            %br
            %br
            = link_to login_path do
              %i.icon-off
              Ingresar al sistema
