:css
  #header{ display: none; }
  #menu{ display: none; }
  #cont{
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

.lonely(style="max-width: 400px;")
  .row-fluid
    .inset
      %header
        %h1.c Recuperar contraseña
      .pad.center.session
        = simple_form_for(ResetPassword.new) do |f|

          = f.input :email, label: false, :input_html => {placeholder: 'Email'}
          %center
            = f.submit "Recuperar contraseña", :class => 'btn btn-success btn-large b'
            <br/><br/>
            %p.fs110
              = link_to login_path do
                %i.icon-off
                Ingresar al sistema
