:css
  #header{ display: none; }
  #menu{ display: none; }
  #cont{
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

.row-fluid
  #login.lonely.span6.offset3
    .inset.center
      %header
        %h2 Recuperar contraseña
      .pad
        = simple_form_for(@reset_password) do |f|

          = f.input :email, label: false, :input_html => {:class =>'txt', placeholder: 'E-mail'}
          %center
            = f.submit "Recuperar contraseña", :class => 'btn btn-success b'
            %br
            %br
            = link_to "Ingresar al sistema", login_path
