#dialog
  %h1 Recuperar contraseña

  = simple_form_for(@user, :url => reset_passwords_path) do |f|
    %fieldset
      = f.input :email, :label => "Email"
    .clear.form_actions
      = f.submit "Recuperar contraseña", :class => "submit"
