%h1.c.login Recuperar contraseña

.initial.c
  = simple_form_for(@reset_password, url: reset_passwords_path) do |f|

    .large
      %i.muted.icon-envelope.icon(title='Email' data-toggle='tooltip')
      = f.text_field :email, placeholder: 'Email'

    = f.submit "Recuperar contraseña", class: 'btn btn-success b'

    .link.fs110
      = link_to login_path, class: 'white' do
        %i.icon-off
        Entrar al sistema


