%h3
  Por favor actualize su navegador
  %br
  Le recomendamos

%ul.unstyled.inline.fs120
  %li
    %a(href='https://www.google.com/intl/es/chrome/browser/?hl=es' target='_blank')
      .browser.google
    %br
    %a.b(href='https://www.google.com/intl/es/chrome/browser/?hl=es' target='_blank') Google chrome
  %li
    %a(href='http://www.mozilla.org/es-ES/firefox/new/' target='_blank')
      .browser.firefox
    %br
    %a.b(href='http://www.mozilla.org/es-ES/firefox/new/' target='_blank') Firefox
