#footer
  %p
    © 2016 &middot;
    = link_to "BonsaiERP", "http://bonsaierp.com"
    = t("views.footer.slogan").html_safe
    <br/><br/>

    %a(href="http://twitter.com/#!/bonsaierp" target="_blank") Twitter
    &middot;
    %a(href="http://www.facebook.com/bonsaierpapp" target="_blank") Facebook
    &middot;
    %a(href="https://google.com/+bonsaierp" target="_blank") Google+
