#footer
  %p
    © 2015 &middot;
    =link_to "BonsaiERP", "http://bonsaierp.com"
    El software para la gestión de empresas
    <br/><br/>

    %a(href="http://twitter.com/#!/bonsaierp" target="_blank") Twitter
    &middot;
    %a(href="http://www.facebook.com/bonsaierpapp" target="_blank") Facebook
    &middot;
    %a(href="https://google.com/+bonsaierp" target="_blank") Google+
