%ul#main_menu
  - if organisation?
    %li= link_to "Resumen", dashboard_path 
    %li.sub
      %a.more{ :href => "javascript:"} Comercial
      %ul.more
        %li.more
          %ul
            %li <a href="/incomes">Ventas</a>
            %li <a href="/buys">Compras y gastos</a>
            %li <a href="/projects">Iniciativas</a>
            .clear.separator
            %li <a href="/clients">Clientes</a>
            %li <a href="/suppliers">Proveedores</a>
            %li <a href="/staffs">Otros contactos</a>
    %li.sub
      %a.more{ :href => 'javascript:'} Contabilidad
      %ul.more
        %li.more
          %ul
            %li <a href="/banks">Cuentas bancarias</a>
            %li <a href="/cashes">Cuentas caja</a>
            -#%hr/
            -#%li <a href="/taxes">Impuestos</a>

    %li.sub
      %a.more{ :href => "javascript:"} Inventarios
      %ul.more
        %li.more{:style => 'width: 200px;'}
          %ul
            %li <a href="/stores">Almacenes</a>
            %li <a href="/items">Items</a>
            %li <a href="/units">Unidades de medida</a>
            .clear.separator
            %li <a href="/inventory_operations/transactions?operation=out">Inventario pendientes de egreso</a>
            %li <a href="/inventory_operations/transactions?operation=in">Inventario pendientes ingreso</a>

          .clear

-# Move the due date to a notification icon
-#due_date= present_due_date
