%ul.nav
  - if current_organisation
    %li= link_to "Resumen", dashboard_path 
    %li.dropdown
      %a.dropdown-toggle( data-toggle="dropdown" href="#") 
        Comercial
        %b.caret
      %ul.dropdown-menu
        %li <a href="/incomes">Ingresos</a>
        %li <a href="/expenses">Egresos</a>
        %li.divider
        %li <a href="/contacts">Contactos</a>
        %li.divider
        %li <a href="/projects">Proyectos</a>
    %li.dropdown
      %a.dropdown-toggle( data-toggle="dropdown" href="#")
        Cuentas
        %i.caret
      %ul.dropdown-menu
        %li <a href="/banks">Cuentas bancarias</a>
        %li <a href="/cashes">Cuentas caja</a>
        %li <a href="/staffs">Cuentas personal</a>

    %li.dropdown
      %a.dropdown-toggle( data-toggle="dropdown" href="#")
        Inventarios
        %i.caret
      %ul.dropdown-menu
        %li <a href="/stores">Almacenes</a>
        %li <a href="/items">Items</a>
        %li <a href="/units">Unidades de medida</a>
        %li.divider
        %li <a href="/inventory_operations/transactions?operation=out">Inventario pendientes de egreso</a>
        %li <a href="/inventory_operations/transactions?operation=in">Inventario pendientes ingreso</a>

-# Move the due date to a notification icon
-#due_date= present_due_date
