%ul#main_menu
  - if organisation?
    %li= link_to "Inicio", dashboard_path 
    %li
      %a.more{ :href => "javascript:"} Finanzas
      %ul.more{:style => 'width:350px;'}
        %li.more
          .fl._50
            %ul
              %li <a href="/incomes">Ventas</a>
              %li <a href="/buys">Compras</a>
              %li <a href="/expenses">Gastos</a>
              %hr/
              %li <a href="/clients">Clientes</a>
              %li <a href="/suppliers">Proveedores</a>
          .fl._50
            %ul
              %li <a href="/banks">Cuentas bancarias</a>
              %li <a href="/cash_registers">Cuentas caja</a>
              %hr/
              %li <a href="/projects">Proyectos</a>
              %li <a href="/taxes">Impuestos</a>
          .clear
    %li
      %a.more{ :href => "javascript:"} Inventarios
      %ul.more
        %li.more{:style => 'width:320px'}
          .fl._40
            %ul
              %li <a href="/stores">Almacenes</a>
              %li <a href="/items">Items</a>
              %li <a href="/units">Unidades de medida</a> 
              %li <a href="/stocks">Stocks</a>
              %li <a href="/transferences">Transferencias</a>
          .fl._60  
            %ul
              %li <a href="/">Ventas pendientes</a>
              %li <a href="/">Compras pendientes</a>

          .clear
    
