%ul
  %li{ :class => "left" }
  %li
    %a{ :href => "#", :class => "cog" } Configuración
  %li
    %a{ :href => "#{ user_path(current_user) }", :class => "user"}= current_user.to_s
  %li
    %a{ :href =>"/users/sign_out", :class => "logout"} Salir
  %li{ :class => "right" }
