%ul#usersettings
  - if current_organisation
    %li#conf
      = link_to configurations_path, title: 'Configuración', rel: 'tooltip', data: {placement: 'bottom'} do
        %i.icon-cog
        Conf.

    %li#current_user
      = link_to current_user do
        %i.icon-user
        = current_user

    %li#logout
      = link_to logout_path do
        %i.icon-off
        Salir
