%ul#usersettings
  - if current_organisation
    %li
      %a{ :href => "/configuration"}
        %i.icon-cog.icon-white
        Configuración
  %li#current_user
    %a.limit{ :href => "#{ user_path(current_user) }" }
      %i.icon-user.icon-white
      = current_user
  %li#logout
    %a{ :href =>"/users/sign_out"}
      %i.icon-off.icon-white
      Salir
