%ul#usersettings
  - if session[:organisation].present? and organisation_id.present?
    %li
      %a{ :href => "/configuration"}
        %i.icon-cog.icon-white
        Configuración
  %li
    %a.limit{ :href => "#{ user_path(current_user) }" }
      %i.icon-user.icon-white
      = current_user
  %li
    %a{ :href =>"/users/sign_out"}
      %i.icon-off.icon-white
      Salir
