!!!XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en" }
  %head
    %meta{ 'http-equiv'  => "content-type", :content => "text/html;charset=UTF-8" }
    %link{:rel => "shortcut icon", :href => "/assets/bonsai.ico", :type => "image/x-icon"}

    = render 'layouts/print_css', media: 'all'
    -#= stylesheet_link_tag 'print', media: 'all'
    -#%style(media='all')
      -#= render file: Rails.application.assets.find_asset('colors.css')
  %body
    = yield

  - unless Rails.env.development?
    :javascript
      window.print();
