!!!XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en" }
  %head
    %meta{ 'http-equiv'  => "content-type", :content => "text/html;charset=UTF-8" }
    %link{:rel => "shortcut icon", :href => "/assets/bonsai.ico", :type => "image/x-icon"}

    = wicked_pdf_stylesheet_link_tag "application", media: 'all'
  %body

    #main_wrap
      #wrapper
        #wrap_in
          #cont
            #cont-in
              = yield
            .clear
          #foot
