%h2 Planificación de crédito

%table.decorated#pay_plans_table
  %thead
    %tr
      %th Fecha
      %th Alertar el
      %th Cantidad
      %th Descripción
      %th Estado
  = render transaction.pay_plans.unpaid.includes(:transaction)

  = render transaction.pay_plans.paid.includes(:transaction)

:javascript
  $(function() {
    new PayPlans();
  });
