%h2 Planificación de crédito

- if can_show_new_pay_plan_link?(transaction)
  =link_to "Nuevo crédito", 
    new_pay_plan_path(:type => transaction.class.to_s, :id => transaction.id, :pay_type => transaction.pay_type),
    :id => 'new_pay_plan_link', :class => 'new button ajax', 'title' => "Nuevo crédito",
    'data-trigger' => 'pay_plan', 'data-width' => '700' unless transaction.state == "paid"

%table.decorated#pay_plans_table
  %thead
    %tr
      %th Fecha
      %th Alertar el
      %th Cantidad
      %th Intereses<br/>Penalidades
      %th Descripción
      %th Estado
      - if transaction.income?
        %th.tip{:title => 'Envia un email de alerta automaticamente al cliente'} Email de<br/>alerta
      %th
  = render transaction.pay_plans.unpaid.includes(:transaction, :currency)

  = render transaction.pay_plans.paid.includes(:transaction, :currency)
