%h2 Planificación de crédito

%table.decorated#pay_plans_table
  %thead
    %tr
      %th Fecha
      %th Alertar el
      %th Cantidad
      %th Descripción
      %th Estado

  -# Iterate /pay_plans/pay_plan
  = render transaction.pay_plans.unpaid.includes(:currency)

  -# Iterate /pay_plans/pay_plan
  = render transaction.pay_plans.paid.includes(:currency)

:javascript
  $(function() {
    new PayPlans();
  });
