%h1 Exportar egresos

.row-fluid.form-inline.well.well-small
  .span12
    = form_tag export_expenses_path(format: 'xls') do
      = render 'layouts/date_range', dr: @date_range
      = submit_tag 'Exportar a Excel', class: 'btn'
